{include common/navigation.htm}
<main class="main configs-page">
    <div class="top">
        <h1>All Configurations</h1>
        <hr class="basic">
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <a href="#" class="btn btn-go pull-left"><i class="fa fa-archive fa-fw" aria-hidden="true"></i> Archive</a>
            <a href="#" class="btn btn-go pull-left"><i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete</a>
        </div>
        <div class="form-pane space-bottom-small quick-insert">
            <form action="" name="new-config-form" method="post" id="new-config-form" class="row">
                <label for="project_name">Quick Insert:</label>
                <input type="text" name="project_name" placeholder="Config Name" id="config-name" class="required" style="min-width:300px;">
                <button type="button" onclick="document.forms['new-config-form'].submit();" class="btn btn-go btn-new-conf disabled"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
            </form>
        </div>    
        <form class="row box-shadow">
            <table>
                <tr><th></th></ht><th>Company</th><th>Name</th><th>Class</th><th></th><th></th></tr>
                [for configs]
                <tr>
                    <td class="check-col"><input type="checkbox" name="selected" value="%id%"></td>
                    <td><a href="/clients/detail/%clientid%">%company%</a></td>
                    <td><a href="/configs/detail/%id%">%projectname%</a></td>
                    <td>%class%</td>
                    <td></td>
                    <td></td>
                </tr>
                [next]
            </table>
        </form>
    </div>
</main>
<script type="text/javascript">

$('#new-config-form').validator({
    formButton : '.btn-new-conf'
});

</script>
