{include common/navigation.htm}
<main class="main projects-page">
    <div class="top">
        <h1>Edit: %projectname%</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <button type="button" class="btn btn-default pull-left" onclick="postForm('#edit-project-form');"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            <button type="button" class="btn btn-default pull-left" onclick="confirmConfigDelete();"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            <div class="tool-divider"></div>
            {include configs/toolbar.htm}
        </div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="form-pane">
        <div style="display:none;" id="result">Not saved.</div>
        <div class="row pad-top-small">
            <form action="../../ajax" id="edit-project-form" method="post" class="row">
                <div class="col dual">
                    <input type="hidden" name="command" value="updateProject">
                    <input type="hidden" id="id" name="id" value="%id%">
                    <input type="hidden" name="clientid" value="%clientid%">
                    <div class="row space-bottom-small">
                        <div class="label-col" style="width:100px;">
                            <label for="project_name">Config Name:</label>
                        </div>
                        <div class="input-col">
                            <input type="text" value="%projectname%" name="projectname" required id="project-name" class="form-control row input-border new-proj-input required">
                        </div>
                    </div>
                    <div class="row space-bottom-small">
                        <div class="label-col" style="width:100px;">
                            <label for="project_name">Client:</label>
                        </div>
                        <div class="input-col">
                            <div class="col dual">
                                <input type="text" name="client-name" value="%company%" required id="client-name" class="form-control row input-border">
                            </div>
                            <div class="col dual pad-bottom-small">
                                <input type="text" value="" placeholder="Search Clients" id="quickSearch" class="form-control row input-border" onkeyup="refreshSearchResults();">
                            </div>
                            <div id="clientSelection">
                                <div class="searchResults" style="display:none;">
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row space-bottom-small">
                        <div class="label-col" style="width:100px;">
                            <label for="project_scope">Class:</label>
                        </div>
                        <div class="input-col">
                            <select name="class" class="select-control">
                                <option value="%class%">%class%</option>
                                <option disabled="disabled">----</option>
                                <option value="Network/Router/Firewall/Switch">Network/Router/Firewall/Switch</option>
                                <option value="Website/Login">Website/Login</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr class="basic pad-bottom-small">
                <div class="row">
                    <div class="row form-row">
                        <textarea name="scope" placeholder="Type" id="scope" class="form-control new-proj-input input-border required">%scope%</textarea>
                    </div>
                </div>
                <div class="col triple">
                    <div class="row form-row project-name">
                        &nbsp;
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script>
    
function confirmConfigDelete() {
   $( "#delete-confirm" ).dialog({
     resizable: false,
     height: "auto",
     width: 400,
     modal: true,
     buttons: {
       "Delete": function() {
         $( this ).dialog( "close" );
           var queryString = "command=deleteTicket&id="+$("#id").val();
           $.post("/ajax/", queryString,
             function(data){
                 //$("#result").html(data);
                 location.href = '/configs/';
             });
       },
       Cancel: function() {
         $( this ).dialog( "close" );
       }
     }
   });
}


$(function() {
    $( "#startDate" ).datepicker( {
      changeMonth: true,
      changeYear: true,
      showButtonPanel: true,
      dateFormat: "yy-mm-dd"
    });
    $( "#endDate" ).datepicker( {
      changeMonth: true,
      changeYear: true,
      showButtonPanel: true,
      dateFormat: "yy-mm-dd"
    });
    CKEDITOR.replace('scope', {
        width: '100%',
        height: 800,
    });
});
</script>
<div id="delete-confirm" title="Delete this record?" style="display: none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
