{include common/navigation.htm}
<main class="main projects-page">    
    <div class="top">
        <h1>Files related to: %breadcrumbs%</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">{include configs/toolbar.htm}</div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row">
        <div class="top-buttons">
            <a href="/configs/upload/%projID%" class="btn btn-go pull-left"><i class="fa fa-plus" aria-hidden="true"></i> Upload</a>
            <a href="javascript:void(0);" class="btn btn-go pull-left"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        </div>
        <div class="documents">
            %documents%
        </div>   
    </div>
</main>
