<a href="#" class="btn btn-default pull-left" onclick="history.back();"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
<a href="/configs/detail/%id%" class="btn btn-default pull-left"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
<a href="/configs/files/%id%" class="btn btn-default pull-left"><i class="fa fa-files-o" aria-hidden="true"></i> Files</a>