{include common/navigation.htm}
<main class="main tickets-page">

    <div class="top">
        <h1>Tickets</h1>
        <div class="tool-divider"></div>

    </div>
    <hr class="basic pad-bottom-small">

</main>
