.meter {
    height: 20px;  /* Can be anything */
    position: relative;
    background: #555;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 4px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    box-shadow: inset 0 2px 9px  rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}
.POC-box {
    padding-left: 18px;
}
.checkbox-label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
    display: auto;
    margin: auto;
    font-size: 100%;
    font-weight: normal;
}
.checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}