/* File Browser */
.filebrowser {
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 10000;
    display: none;
    max-height: 500px;
    width: 700px;
    margin-left: -350px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
}

.filebrowser-titlebar {
    float: left;
    width: 100%;
    height:35px;
    padding:0 15px;
    background-color: #4d6387;
    border-bottom: 1px solid #ccc;
    color:#fff;
    line-height:35px;
}

.filebrowser-titlebar .btn-close {
    min-width:auto;
    height:auto;
    padding: 0;
    margin:0;
    color:#fff;
    line-height:35px;
}

.filebrowser-actions {
    float: left;
    width: 100%;
    padding: 5px 15px;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    font-size:12px;
}

.filebrowser-actions button {
    float:left;
    margin:0 10px 0 0;
    padding:0;
    width:30px;
    height:30px;
    line-height:25px;
}

.filebrowser-actions .btn-back {
    display: none;
}

.filebrowser-fileview {
    float: left;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    padding:0 15px 15px 15px;
    overflow-y: auto;
}

.filebrowser-fileview .alert {
    margin:20px 0 0 0;
}

.filebrowser-dirs {
    float:left;
    width:100%;
    margin: 20px 0 0 0;
}

.filebrowser-dirs li {
    float: left;
    width: 100%;
    padding-top: 3px;
    margin-bottom:3px;
}

.filebrowser-dirs li:hover {
    cursor: pointer;
}

.filebrowser-footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding:7px 15px;
    background-color:#7b94be;
    border-top:1px solid #6b849f; 
    color:#fff;
    font-size:12px;
}

.filebrowser-new-folder {
    position: absolute;
    bottom: -300px;
    width: 100%;
    padding:5px 15px 15px 15px;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.filebrowser-new-folder.open {
    bottom: 30px;
}

.new-folder-input {
    clear: left;
    float:left;
    width: 80%;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-make-folder {
    float:left;
    width: 19%;
    height:28px;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height:25px;
}

.btn-delete {
    float: right;
    color: #777;
}

.filebrowser-upload {
    position: absolute;
    left: 0;
    bottom: -550px;
    width: 100%;
    margin: 0 0;
    z-index: 777;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.filebrowser-upload.open {
    bottom: 0;
}

.filebrowser-upload .btn-close-upload {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 778;
}

.filebrowser .dropzone {
    min-height: 462px;
    max-height: 462px;
    overflow-y: auto;
}