@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 300i, 400, 400i, 600, 600i, 700, 700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('../fonts/fontawesome/font-awesome.css');
@import url('template.css');
@import url('filebrowser.css');
@import url('derek-css-wins.css');

body {
    color: #777;
    font-family: 'Roboto', Arial, Sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
}

/**
 * Text
 */
a, a:visited {
    color: #4d6387;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #999;
}

a.Closed, a.Closed:visited {
    color: #899;
    text-decoration: line-through;
}

a.Closed:hover, a.Closed:focus, a.Closed:active {
    color: #899;
    text-decoration: line-through;
}

.heading-small {
    font-size: 21px;
    line-height: 21px;
}

.heading-medium {
    font-size: 28px;
    line-height: 28px;
}

.heading-large {
    font-size: 36px;
    line-height: 36px;
}

.text-small {
    font-size: 12px;
    line-height: 18px;
}

.text-medium {
    font-size: 18px;
    line-height: 18px;
}

.text-large {
    font-size: 24px;
    line-height: 24px;
}

.list-style-check li:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    margin: 0 7px 0 0;
}

/**
 * Wrappers, Main
 */
.main {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 230px;
    width: auto;
    padding: 15px;
    overflow-y: scroll;
    background-color: #fff;
}

.main-print {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 10px;
    width: auto;
    padding: 15px;
    background-color: #fff;
}

.pad-top-small {
    padding-top: 10px;
}

.pad-bottom-small {
    padding-bottom: 10px;
}

.pad-top-medium {
    padding-top: 30px;
}

.pad-bottom-medium {
    padding-bottom: 30px;
}

.pad-top-large {
    padding-top: 50px
}

.pad-bottom-large {
    padding-bottom: 50px
}

.space-top-small {
    margin-top: 10px
}

.space-bottom-small {
    margin-bottom: 10px
}

.space-top-medium {
    margin-top: 30px
}

.space-bottom-medium {
    margin-bottom: 30px
}

.space-top-large {
    margin-top: 50px
}

.space-bottom-large {
    margin-bottom: 50px
}

.pad-left-small {
    padding-left: 20px
}

.pad-right-small {
    padding-right: 20px
}

.pad-left-medium {
    padding-left: 30px
}

.pad-right-medium {
    padding-right: 30px
}

.pad-left-large {
    padding-left: 50px
}

.pad-right-large {
    padding-right: 50px
}

.space-left-small {
    margin-left: 20px
}

.space-right-small {
    margin-right: 20px
}

.space-left-medium {
    margin-left: 30px
}

.space-right-medium {
    margin-right: 30px
}

.space-left-large {
    margin-left: 50px
}

.space-right-large {
    margin-right: 50px
}

/**
 * Horizontal Rule
 */
hr.basic {
    float: left;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

hr.fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

hr.curly {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.curly:before {
    display: block;
    content: '';
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.glyph {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.glyph:after {
    content: "\f1b0";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    font-family: 'FontAwesome';
}

hr.dual {
    border-top: 3px double #8c8b8b;
}

hr.dual-sizable:after {
    content: '';
    display: block;
    margin-top: 6px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

hr.dashed {
    border-top: 1px dashed #8c8b8b;
}

hr.dashed-line {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.dotted {
    border-top: 1px dotted #8c8b8b;
}

/* Buttons */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
}

.btn.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed
}

.btn {
    display: inline-block;
    height: 28px;
    padding: 0 20px;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 3px 1px rgba(95, 95, 95, 0.2);
    font-family: 'Open Sans';
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    vertical-align: top;
    line-height: 26px;
    -webkit-appearance: none;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.btn:focus, .btn:active {
    outline: none
}

.btn::-moz-focus-inner {
    border: 0
}

.btn-default, .btn-default:visited {
    background-color: #e5e5e5;    /*box-shadow: inset 0px 0px 1px 1px rgba(220, 220, 220, .5);*/
    border: 1px solid #cacaca;
    color: #4d6387
}

.btn-default:hover {
}

.btn-default:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 2px 7px rgba(0, 0, 0, 0.2)
}

.btn-go, .btn-go:visited {
    background-color: #4d6387;
    border: 1px solid #576b8c;
    color: rgba(255, 255, 255, 1)
}

.btn-go:hover {
    color: rgba(255, 255, 255, 1)
}

.btn-go:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 2px 7px rgba(0, 0, 0, 0.2)
}

.btn-stop, .btn-stop:visited {
    background-color: #ee7676;
    color: rgba(255, 255, 255, 1)
}

.btn-stop:hover {
    background-color: #d33838;
    color: rgba(255, 255, 255, 1)
}

.btn-stop:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-transparent, .btn-transparent:visited {
    background-color: transparent;
    color: #777;
}

.btn-transparent:hover {
    background-color: transparent;
    color: #777;
}

.btn-transparent:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-border {
    border: 1px solid #ccc;
}

.btn.pull-right {
    margin: 0 0 0 10px
}

.btn.pull-left {
    margin: 0 10px 0 0
}

.btn .fa {
    vertical-align: top;
    height: 28px;
    line-height: 24px;
    font-size: 12px;
}

/* Forms */
label {
    display: inline-block;
    margin: 0 0 3px 0;
    font-size: 13px;
    font-weight: 600;
}

label.required:after {
    margin-left: 3px;
    content: '\f069';
    color: #ff0000;
    font-family: 'FontAwesome';
    font-size: 10px
}

input, textarea, select {
    height: 28px;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #bbb;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.3);
    color: #777;
    font-family: 'Roboto';
    font-size: inherit;
    font-weight: inherit;
    text-indent: 15px;
    line-height: 20px;
    letter-spacing: inherit;    /*-webkit-appearance: none;*/
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

input[type="submit"] {
    cursor: pointer;
    letter-spacing: inherit
}

input[type="checkbox"] {
    z-index: 1000;
    position: relative;
    width: 15px;
    height: 15px;
}

textarea {
    padding: 10px 0 0 0;
    min-height: 175px;
    height: auto;
}

select {
    padding: 0px 9px;
    text-indent: 0px;
}

.label-col, .input-col {
    float: left;
}

.label-col label {
    height: 25px;
    line-height: 35px;
}

.show-pw {
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -14px 0 0 0;
    z-index: 777;
    color: #777;
    font-size: 18px;
    cursor: pointer;
    line-height: 18px;
}

.red-herring {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden
}

.fancy-form label {
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 100;
    display: initial;
    padding: 0;
    color: #bbb;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

/**
 * Loading
 */
.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 888;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    z-index: 888;
    font-size: 30px;
    line-height: 30px;
    color: #777
}

.loading-spinner img {
    width: 100%
}

/* Alerts */
.alert {
    position: relative;
    width: 100%;
    padding: 15px 30px 15px 15px;
    margin: 0 0 15px 0;
    border-radius: 4px;
    color: #fff;
    text-align: left;
}

.alert.success {
    background-color: #76d769;
}

.alert.error {
    background-color: #ff6868;
}

.alert.warning {
    background-color: #e8d110;
}

.alert.info {
    background-color: #68a8ff;
}

.alert-inline {
    position: absolute;
    float: none;
    top: 125%;
    left: -16px;
    z-index: 2000;
    min-width: 100px;
    width: auto;
    padding: 13px 10px;
    background-color: #fff;
    border: 1px solid #777;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    font-size: 12px
}

.alert-inline {
    border-color: #f15454;
    box-shadow: none;
    color: #f15454
}

.alert-inline::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-top: 1px solid #f15454;
    border-right: 1px solid #f15454;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.alert button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    color: #fff;
    font-size: 18px;
    text-align: left;
}

.password-strength {
    position: absolute;
    top: 3px;
    left: 75px;
    visibility: visible;
    font-size: 11px;
    text-align: center
}

/**
 * Search
 */
.search {
    position: relative;
    margin: 21px 0 0 30px;
}

.search input {
    float: left;
    width: 375px;
    border-radius: 0;
}

.search button {
    position: absolute;
    right: 0;
    height: 29px;
    padding: 0 15px;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-family: 'FontAwesome'
}

.search-header {
    font-size: 24px
}

.found-user, .found-user:visited {
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    color: #777
}

.found-user-right {
    float: left;
    width: 80%;
    padding-left: 10px;
    border-left: 1px solid #ddd
}

.found-user-left img {
    float: left;
    width: 100%
}

.found-user-left {
    float: left;
    width: 20%
}

.found-user-left p {
    float: left;
    font-size: 18px
}

/**
 * Account
 */
.user-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    margin-bottom: 500px;
    margin-left: -240px;
}

@media only screen and (max-width:736px) {
    .user-form {
        position: relative;
        float: left;
        width: 100%;
        margin: 7% 0%;
    }

}

.login-form, .signup-form, .reset-form, .activate-form {
    padding: 20px 45px;
    background-color: #fff;    /*border-radius: 7px;*/
    border: 1px solid #d2d2d2;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    color: #777;
}

.signup-form h2, .signup-form h3 {
    margin: 0 0 3px 0;
}

.login-page, .signup-page, .reset-page, .invitation-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4d6387;
    background: radial-gradient(#7088b0, #4d6387, #2c446b);    /*overflow-x: hidden;
            overflow-y: scroll;*/
    color: #fff;
}

.user-form label {
    color: #ccc;
}

.account {
    float: left;
    width: 100%
}

.view-profile {
    line-height: 30px;
    margin-top: 5px
}

.account-left-panel {
    float: left;
    width: 20%;
    text-align: center
}

.account-right-panel {
    float: left;
    width: 80%
}

.account .form-row.right {
    max-width: 50%
}

.col-account-left {
    float: left;
    width: 22%;
    padding: 0 1.5% 0 0
}

.col-account-right {
    float: left;
    width: 78%;
    padding: 0 0 0 1.5%
}

.avatar {
    float: left;
    width: 128px;
    height: 128px;
    margin: 0 25px 0 0;
    border: 1px solid #aaa
}

.avatar a {
    float: left;
    width: 100%;
    margin-top: 5px;
    text-decoration: underline
}

.upload-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 350px;
    padding: 13px;
    margin: 25px 0 0 25px;
    border: 1px solid #aaa;
    border-radius: 5px
}

.upload-box .btn-upload {
    position: absolute;
    top: 7px;
    right: 13px
}

/**
 * Profile
 */
.profile-header {
    background-color: #eee
}

.profile-left-panel {
    float: left;
    width: 20%;
    text-align: center
}

.profile-right-panel {
    float: left;
    width: 80%
}

.col-profile-left {
    float: left;
    width: 15%;
    padding: 0 1.5% 0 0
}

.col-profile-right {
    float: left;
    width: 85%;
    padding: 0 0 0 1.5%
}

.profile-info {
    line-height: 35px
}

.profile-info.bio {
    margin: 5px 0 0 0;
    line-height: 25px;
}

.send-activate {
    color: #3498db
}

.account .select-control {
    margin-right: 10px
}

.gender-label {
    margin-right: 10px
}

/**
 * Header
 */
.header {
    height: 70px;
    z-index: 999;
    padding: 0 20px;
    background-color: #4d6387;
    border-bottom: 1px solid #444;
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/**
 * Logo
 */
.logo, .logo:visited {
    margin: 15px 0 0 0;
    font-size: 28px;
    color: #fff;
}

/**
 * Navigation
 */
.mobile-menu-btn {
    float: right;
    display: none;
    padding: 10px 30px 0 0;
    color: #fff;
    font-size: 24px
}

.close-mobile-menu-btn {
    display: none
}

.nav {
    position: absolute;
    top: 70px;
    right: auto;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
    width: 230px;
    background-color: #9aabc6;    /*border-right: 1px solid #eee;*/
    box-shadow: 3px 1px 3px -1px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.main-nav {
    float: left;
    width: 180px;
    background-color: #333;
    border-right: 1px solid #aaa;
}

.main-nav .nav-toggle {
    float: left;
    width: 15px;
    margin: 0 0 0 5px;
}

.main-nav li {
    position: relative;
    float: left;
}

.main-nav a, .main-nav a:visited {
    float: left;
    height: 45px;
    width: 229px;
    padding: 0 0 0 30px;
    background-color: #4d6387;
    border-top: 1px solid #7093cb;
    border-bottom: 1px solid #444;
    color: #fff;
    font-size: 15px;
    line-height: 45px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.main-nav a:hover, .main-nav a:focus, .main-nav a:active {
    background-color: #465e84;
}

.main-nav a.current {
    background-color: #6f85aa;
}

.nav-toggle {
    display: inline-block;
    float: none !important;
    font-family: "FontAwesome";
}

.dropdown-menu {
    position: relative;
    min-width: 100%;
    overflow: hidden;
    max-height: 0px;
    z-index: 999;
    margin: -1px 0 0 0;
    padding: 0;
    border-bottom: 1px solid #444;
    background-color: #657a9c;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.dropdown-menu.active {
    max-height: 300px;
    padding: 5px 0;
}

.dropdown-menu li {
    width: 100%
}

.dropdown-menu a {
    width: 100%;
    height: 35px;
    padding: 0 0 0 50px;
    background-color: #657a9c !important;
    border: none;
    text-align: left;
    line-height: 35px;
}

.dropdown-menu a:hover {

    /*background-color: #495c7b !important;*/
}

.dropdown-menu a.current {
    background-color: #4f6485 !important;
}

.account-links {
    position: relative;
    float: right;
    margin: 13px 35px 0 0;
    border: 1px solid #373f4c;
}

.account-links:hover {
    cursor: pointer;
}

.account-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
}

.account-avatar img {
    width: 60%;
    margin: 7px 20% 0 20%;
}

.account-nav {
    float: left;
    height: 40px;
    list-style: none;
}

.account-nav .dropdown-button {
    float: left;
    height: 40px;
    padding: 0 10px 0 50px;
    border: 1px solid #5c759f;
    line-height: 40px;
}

.account-nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 1px 0 0 0;
    border: none;
    border-color: #373f4c;
}

.account-nav .dropdown-menu.active {
    border: 1px solid #373f4c;
}

.account-nav .dropdown-menu li a, .account-nav .dropdown-menu li a:visited {
    float: left;
    width: 100%;
    padding: 0 15px;
    color: #fff;
}

.signup-form #address {
    min-height: 50px !important;
}

/**
 * Footer
 */
.footer {
    float: left;
    width: 100%;
    margin: 75px 0 0 0;
    padding: 20px 0;
    background-color: #24374C;
    color: #fff
}

.footer a, .footer a:visited {
    color: #fff
}

.genericDoc {
    background-image: url(../../storage/images/doc.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.docName {
    float: left;
    width: 220px;
    height: 64px;
}

.version {
    margin: 10px 0 0 20px;
}

.status-bubble {
    padding: 20px;
    background-color: rgba(204, 204, 204, 1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.projects-page .projects {
    border: 1px solid #999;
}

.dashboard-controls {
    padding: 0 5px;
    background-color: #ddd;
    border-bottom: 1px solid #999;
}

.dashboard-controls li {
    float: left;
}

.dashboard-controls .divider {
    width: 1px;
    height: 32px;
    background-color: #777;
}

.dashboard-controls li a {
    float: left;
    width: auto;
    height: 32px;
    padding: 0 10px;
    border-right: 1px solid #999;
    line-height: 32px;
    text-align: center;
}

.dashboard-controls li:nth-child(1) {
    border-left: 1px solid #999;
}

.current-tech {
    float: right;
    height: 32px;
    line-height: 32px;
}

.panel {
    float: left;
    width: 100%;
    background-color: #fff;
}

.panel-title {
    float: left;
    width: 100%;
    padding: 5px 10px;
    background-color: #e5e5e5;
    border: 1px solid #cacaca;
    color: #777;
    font-size: 15px;
}

.panel-content {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.panel-footer {
}

.quick-insert {
}

.quick-insert .btn {
    margin-left: -4px;
}

#result {
    float: left;
    width: 100%;
}

.check-col {
    width: 30px;
    padding: 0;
    text-align: center;
}

.check-col input {
    margin: 3px 0 0 0;
}

.breadcrumb {
    margin: 20px 0;
    background-color: #ddd;
    border: 1px solid #aaa;
}

.breadcrumb .bc-part {
    float: left;
    height: 35px;
}

.breadcrumb a {
    float: left;
    padding: 0 0 0 20px;
    line-height: 35px;
}

.bc-divider {
    float: left;
    width: 25px;
    height: 25px;
    margin: 5px 0 0 0;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.chev-right {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px 2px 1px;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.border {
    border: 1px solid rgba(170, 170, 170, 1);
}

.top {
    float: left;
    width: 100%;
}

.top h1 {
    float: left;
    width: 100%;
    margin: 0 0 5px 0;
    font-size: 18px;
    line-height: 18px;
}

.form-pane {
    float: left;
    width: 100%;
    padding: 15px;
    background-color: #e5e5e5;
    border: 1px solid #cacaca;
    box-shadow: 0px 0px 3px 1px rgba(95, 95, 95, 0.2);    /*box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, .5);*/
}

.documents {
    float: left;
    width: 100%;
    text-align: center;
}

.documents ul {
    float: left;
    width: 100%;
}

.documents li {
    vertical-align: top;
    display: inline-block;
    max-width: 200px;
    min-height: 150px;
    margin: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}

.documents li h3 {
    margin: 0 0 20px 0;
    font-size: 13px;
}

.documents img {
    margin: 0 0 10px 0;
}

#insert-client-form .form-control {
    width: 100%;
}

#newClientDialog .label-col {
    width: 75px;
}

.top-buttons {
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
}

.tool-divider {
    float: left;
    height: 100%;
    width: 1px;
    background-color: #777;
    margin: 0 30px 0 20px;
}

.onclick-menu-wrapper {
    float: left;
    width: 100%;
}

.onclick-menu {
    float: left;
    z-index: 100;
    border-radius: 0px;
    background-color: #4d6387;
    border: 1px solid #4c5e7c;
    font-family: 'Roboto';
    position: relative;
    color: #fff;
    text-align: center;
    padding: 4px 48px 4px 16px;
    text-decoration: none;
    background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(to right, #4d6387, #4d6387);
    background-position: calc(100% - 15px) calc(10px + 1px), calc(100% - 10px) calc(10px + 1px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

.onclick-menu:before {
    content: "Create New";
}

.onclick-menu-content {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 1px 0 0 0;
    padding: 0;
    max-height: 0px;
    width: 100%;
    background-color: #4d6387;
    box-shadow: inset 0px 0px 1px 1px #697ea1;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: max-height .3s ease-in-out;
    -ms-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out;
}

.onclick-menu-content.active {
    max-height: 300px;
    padding: 5px 0;
    border: 1px solid #879dc2;
}

.onclick-menu-content li {
    float: left;
    width: 100%;
}

.onclick-menu-content li a {
    float: left;
    width: 100%;
    padding: 5px 16px;
    color: #fff;
    text-align: left;
    text-decoration: none;
}

.onclick-menu-content li a:hover {
    background-color: #43597d;
}

.invitation-page .user-form {
    padding: 20px 45px;
    background-color: #4d6387;
    color: #fff;
}

.box-shadow {
    box-shadow: 0px 0px 3px 1px rgba(95, 95, 95, 0.2);
}
