/**
 * Template Stylesheet
 *
 * Default styles for templating are here. You should never have to change this file
 * and instead overwrite in the main stylesheet.css.
 */
*,*:before,*:after{margin:0;padding:0;box-sizing:border-box;outline:none}
html{height:100%}

/**
 * Tables
 */
table{width:100%;border-collapse:collapse;}
tr:nth-child(2n+2) {
    background-color: #fcfcfc;
}
th{cursor:pointer;padding:4px 10px;background-color:#e5e5e5;text-align:left;font-family: 'Roboto';font-size: 13px;font-weight: 400;}
td{padding:4px 10px}
table,th,td{border:1px solid #ddd;border: 1px solid #cacaca;}
tfoot{display:none}

/**
 * Horizontal Rule
 */
hr{border:none;border-top: 1px solid #8c8b8b;}
hr.clear{border-top:none;border-bottom:none}

/**
 * Images

img{width:100%;} */

/**
 * Text
 */
h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:inherit}
ul,ol{list-style:outside}
ul.list-unstyled,ol.list-unstyled{list-style:none}
ul.list-style-inside,ol.list-style-inside{list-style:inside}
ul.list-style-check,ol.list-style-check{list-style:none}
.text-black{color:#777}
.text-white{color:#ffffff}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.text-underline{text-decoration:underline}

/**
 * Wrappers, Main
 */
.row,.col{position:relative;float:left}
.row{width:100%;}
.col.dual{width:49.6%;margin:0 0.8% 0 0}
.col.dual:nth-child(2n+2){margin:0}
.col.triple{width:30.33%;margin:0 4.5% 0 0}
.col.triple:nth-child(3n+3){margin:0}
.col.quad{width:24.5%;margin:0 0.66% 0 0}
.col.quad:nth-child(4n+4){margin:0}
.col.penta{width:19%;margin:0 1.25% 0 0}
.col.penta:nth-child(5n+5){margin:0}
.col.hexa{width:16%;margin:0 0.8% 0 0}
.col.hexa:nth-child(6n+6){margin:0}
.pull-right{float:right !important}
.pull-left{float:left !important}

/**
 * Background Colors
 */
.bkg-black{background-color:#777}
.bkg-white{background-color:#ffffff}
.bkg-beige{background-color:#F5F5DC}
.bkg-grey{background-color:#d6d6d6}