{include common/navigation.htm}
<main class="main project-board-page">
    <div class="top">
        <h1>TEST:</h1>
        <hr class="basic">
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <button type="button" class="btn btn-default btn-browse" title="Browse"><i class="fa fa-folder-open" aria-hidden="true"></i></button>
        </div> 
    </div>
    <hr class="basic pad-bottom-small">
    <div>
        Filebrowser Test. <br><br>
        Files for filebrowser:<br>
        filebrowser.js --- (/application/views/js/filebrowser.js)<br>
        filebrowser.php --- (/application/libraries/filebrowser.php)<br>
        filebrowser.php --- (/application/controllers/common/filebrowser.php)<br>
        filebrowser.php --- (/application/language/english/filebrowser.php) <br><br>
        Use:<br>

        Call filebrowser on an element and it will append itself to the element.<br>
        Set the dir parameter to the directory you would like to browse.<br>
    <pre style="background-color:#ddd;float:left;width:100%;padding:20px">
    &ltbody&gt;
        &ltdiv id="filebrowser"&gt;&lt/div&gt;
    &lt/body&gt;


    $('#filebrowser').filebrowser({
        dir : '/application/storage/uploads/documents/',
    });
    </pre>

    </div>
    <div id="filebrowser"></div>
</main>
<script type="text/javascript">

$(function() { $('.filebrowser').draggable(); });
$('#filebrowser').filebrowser({
    dir : '/application/storage/uploads/documents/',
});
$('.filebrowser').on('click', '.filebrowser-file-link', function(e) {
    alert('You have clicked ' + $(this).text());
});

Dropzone.options.dropzone = {
    url: '/test/upload',
    paramName: 'upload_image', // The name that will be used to transfer the file
    maxFilesize: 1, // MB
    maxFiles: null,
    acceptedFiles: '.jpg, .jpeg, .png, .tif, .tiff, .gif',
    dictDefaultMessage: 'Drop files here',
    resizeWidth:800,
    success: function(file, response) {
        console.log(response);
        if (typeof(response) !== 'undefined') {
            $('.dz-success-mark').css({'opacity':'1'});
        }
    },
};

</script>