{include common/navigation.htm}
<main class="main home-page">
    <div class="row space-bottom-small">
        <div class="top">
            <h1>Assets</h1>
            <hr class="basic">
        </div>
    </div>
</main>
