{include common/navigation.htm}
<main class="main project-board-page">
    <div class="top">
        <h1>Projects: %breadcrumb%</h1>
        <hr class="basic">
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <!-- <a href="/projects/new" class="btn btn-default pull-left"><i class="fa fa-plus" aria-hidden="true"></i> New</a> -->
            <button type="button" class="btn btn-go pull-left" onclick="archiveButton();"><i class="fa fa-archive fa-fw" aria-hidden="true"></i> %button%</button>
            <button type="button" class="btn btn-go pull-left"><i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete</button>
            <div class="tool-divider"></div>
            <a href="/projects/archived" class="btn btn-go pull-left">Show Archived</a>
            <a href="/projects/prospects" class="btn btn-go pull-left">Show Prospects</a>
            <a href="/projects/active" class="btn btn-go pull-left">Show Active</a>
        </div> 
    </div>
    <div class="form-pane space-bottom-small quick-insert">
        <form action="/projects/active" name="new-project-form" method="post" id="new-project-form" class="row">
            <label for="project_name">Quick Insert:</label>
            <input type="text" name="project_name" placeholder="Project Name" id="project-name" class="required" style="min-width:300px;">
            <button type="button" onclick="document.forms['new-project-form'].submit();" class="btn btn-go btn-new-proj disabled"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> SAVE</button>
        </form>
    </div>
    <div class="row box-shadow">
        <form action="../ajax" method="post" id="proj-form" class="row">
            <input type="hidden" name="command" value="%command%Project">
            <input type="hidden" name="filter" value="%filter%">
            <div id="result">
                {include projects/table.htm}
            </div>
        </form>
    </div>
</main>
<script type="text/javascript">

$('#new-project-form').validator({
    formButton : '.btn-new-proj'
});

</script>