{include common/navigation.htm}
<main class="main project-board-page"> 
    <div class="row pad-top-medium pad-bottom-medium">
        <div class="row">
            <div class="wrapper">
                <div class="row projects">
                    
                    <div class="row project-table">
                        <?php
                        echo $dailyTable;
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>
<script>
var lastRefresh = new Date(); // If the user just loaded the page you don't want to refresh either

setInterval(function(){

  //first, check time, if it is 9 AM, reload the page
   var now = new Date();
   if (now.getHours() == 8 && new Date() - lastRefresh > 1000 * 60 * 60 * 6) {
      location.reload();
   }
},60000);
</script>

<?php
        $subject = "TCI - Daily Project Tracker";
        $email_body = $dailyTable;
        $mail = $this->mail('mail');
        $mail->sendMail(["help@yourtechconnection.com"], 'tickets@yourtechconnection.com', $subject, $email_body, "text version");
        
?>
