{include common/navigation.htm}
<main class="main projects-page">
    <div class="top">
        <h1>Edit: %breadcrumbs%</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <button type="button" class="btn btn-default pull-left" onclick="postForm('#edit-project-form');"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            <button type="button" class="btn btn-default pull-left" onclick="confirmProjDelete();"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            <div class="tool-divider"></div>
            {include projects/toolbar.htm}
        </div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row">
        <div style="display:none;" id="result">Not saved.</div>
        <div class="form-pane">
            <form action="../../ajax" id="edit-project-form" method="post" class="row">
                <input type="hidden" name="command" value="updateProject">
                <input type="hidden" name="id" id="id" value="%projID%">
                <input type="hidden" name="clientid" value="%clientid%">
                <div class="row pad-bottom-small form-row">
                    <div class="label-col" style="width:90px;">
                        <label for="project_name">Project Name:</label>
                    </div>       
                    <div class="input-col">
                        <input type="text" style="width: 320px;" value="%projectname%" name="projectname" placeholder="Project Name" id="project-name" class="input-border">
                    </div>
                </div>
                <div class="row pad-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label for="label">Project ID:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%label%" name="label" class="form-control input-border">
                    </div>
                </div>
                <div class="row pad-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label for="label">Estimate #:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%estimate%" name="estimate" class="form-control input-border">
                    </div>
                </div>
                <div class="row pad-bottom-small"> 
                    <div class="label-col" style="width:90px;">
                        <label for="label">PO #:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%po%" name="po" class="form-control input-border">
                    </div>
                </div>
                <div class="row pad-bottom-small"> 
                    <div class="label-col" style="width:90px;">
                        <label for="label">Slack Channel:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%slack%" name="slack" class="form-control input-border">
                    </div>
                     <div class="input-col">
                        <a href="/projects/slackpost/%projID%" class="btn btn-default pull-left"><i class="fa fa-hospital-o" aria-hidden="true"></i> Post to Channel</a>
                    </div>
                </div>
                <div class="row pad-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label for="client-name">Client:</label>
                    </div>
                    <div class="input-col">
                        <div class="col dual">
                            <input type="text" name="client-name" value="%clientName%" id="client-name" class="form-control row input-border" disabled=disabled>
                        </div>
                        <div class="col dual">
                            <input type="text" value="" placeholder="Search Clients" id="quickSearch" class="form-control row input-border" onkeyup="refreshSearchResults();">
                        </div>
                        <div id="clientSelection">
                            <div class="searchResults" style="display:none;"></div>
                        </div>
                    </div>
                </div>
                <div class="row pad-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label for="project_name">Location:</label>
                    </div>
                    <div class="input-col">
                        <select name="location" class="select-control input-border">
                            <option value="%location%">%locationName%</option>
                            <option disabled="disabled">----</option>
                            [for places]
                            <option value="%id%">%name%: %street%, %city%, %state% %zip% (%class%)</option>
                            [next]
                        </select>
                    </div>
                </div>
                <div class="row pad-bottom-small">
                    <div class="label-col">
                        <label for="client-name">Point of Contact:</label>
                    </div>
                </div>
                <div class="row pad-bottom-small POC-box">
                    [for people]
                        <label class="checkbox-label"><input class="checkbox" type="checkbox" name="selected" value="%id%">%first% %last% <i>(%email%)</i></label>
                    [next]
                </div>
                <div class="row pad-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label for="project_name">Status:</label>
                    </div>
                    <div class="input-col">
                        <select name="status" class="select-control input-border">
                            <option value="%status%">%status%</option>
                            <option disabled="disabled">----</option>
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                        </select>
                    </div>
                </div>
                <div class="row pad-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label for="project_name">Category:</label>
                    </div>
                    <div class="input-col">
                        <select name="state" class="select-control input-border">
                            <option value="%state%">%state%</option>
                            <option disabled="disabled">----</option>
                            <option value="active">Active</option>
                            <option value="prospect">Prospect</option>
                            <option value="archive">Archived</option>
                        </select>
                    </div>
                </div>
                <div class="row pad-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label for="project_type">Start Date:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%startDate%" name="startDate" placeholder="Start Date" id="startDate" class="form-control input-border">
                    </div>
                </div>
                <div class="row pad-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label for="project_type">End Date:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%endDate%" name="endDate" placeholder="End Date" id="endDate" class="form-control input-border">
                    </div>
                </div>
                <div class="row pad-bottom-small">
                    <span>
                        <br />
                    </span>
                </div>
                <div class="row pad-bottom-small">
                    <textarea name="scope" placeholder="Type" id="scope" class="form-control input-border">%scope%</textarea>
                </div>
            </form>
        </div>  
    </div>
</main>
<script>
    
function confirmProjDelete() {
   $( "#delete-confirm" ).dialog({
     resizable: false,
     height: "auto",
     width: 400,
     modal: true,
     buttons: {
       "Delete": function() {
         $( this ).dialog( "close" );
           var queryString = "command=deleteTicket&id="+$("#id").val();
           $.post("/ajax/",queryString,
                   function(data){
                       //$("#result").html(data);
                       location.href = '/projects/active';
                   });
       },
       Cancel: function() {
         $( this ).dialog( "close" );
       }
     }
   });
}

$(function() {
    $( "#startDate" ).datepicker( {
      changeMonth: true,
      changeYear: true,
      showButtonPanel: true,
      dateFormat: "yy-mm-dd"
    });
    $( "#endDate" ).datepicker( {
      changeMonth: true,
      changeYear: true,
      showButtonPanel: true,
      dateFormat: "yy-mm-dd"
    });
    CKEDITOR.replace('scope', {
        width: '90%',
        height: 800,
    });
});
</script>
<div id="delete-confirm" title="Delete this record?" style="display: none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
