{include common/navigation.htm}
<main class="main project-files-page">    
    <div class="top">
        <h1>Files related to: %breadcrumbs%</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">{include projects/toolbar.htm}</div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row">
        <div class="top-buttons">
            <a href="/projects/upload/%projID%" class="btn btn-go pull-left"><i class="fa fa-plus" aria-hidden="true"></i> Upload</a>
            <button type="button" class="btn btn-go pull-left"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
        </div>
    </div>
    <div class="form-pane space-top-small">
        <div class="documents">
            %documents%
        </div>
    </div>
</main>