{include common/navigation.htm}
<main class="main project-resources-page">
    <div class="top">
        <h1>Resources for: %breadcrumbs%</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">{include projects/toolbar.htm}</div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row">
        <div class="form-pane">
            <form action="../../ajax" id="assign-resource-form" method="post" class="row form">
                <input type="hidden" name="command" value="assignResource">
                <input type="hidden" name="ticket_id" value="%projID%">
                <div class="label-col" style="width:90px;">
                    <label for="projectname" style="float:left;">Quick Assign:</label>
                </div>
                <div class="input-col">
                    <select id="resource_id" name="resource_id" class="select-control" style="margin-right:15px;">
                        %resourcesSelect%
                    </select>
                    <button type="button" class="btn btn-go" onClick="assignResource();">Add</button>
                </div>
            </form>
        </div> 
    </div>
    <div class="row">
        <div id="result">
            %assignedResourcesList%
        </div>
    </div>
</main>
