<table><tr><th>Name</th><th>Type</th><th>Status</th></tr>
    [for resources]
        <tr class="dr">
            <td>
                <a href="/resources/edit/%id%">%name%</a>
            </td>
            <td>
                %type%
            </td>
            <td>
                <button class="btn btn-go" type="button" onclick="unassignResource(%id%,%assignmentid%,%projID%);">Unassign</button>
            </td>
        </tr>
    [next]
</table>
