{include common/navigation.htm}
<main class="main projects-page">
    <div class="top">
        <h1>%breadcrumbs%</h1>
        <div class="top-buttons">{include projects/toolbar.htm}</div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row">
        <div class="col dual">  
            <div class="panel space-bottom-small">
                <div class="row panel-title">Client</div>
                <div class="row panel-content">
                    <div class="row pad-bottom-small">
                        <div style="font-weight:600;">Name:</div>
                        <p>%clientname% </p>
                    </div>
                    <div class="row pad-bottom-small">
                        <div style="font-weight:600;">Contact:</div>
                        %first% %last%
                        <br>
                        %phone1%
                    </div>
                    <div class="row pad-bottom-small">
                        <div style="font-weight:600;">Site:</div>
                        [for places]
                            %name%: %street%, %city%, %state% %zip% (%class%)
                        [next]
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="row panel-title">Summary</div>
                <div class="row panel-content">
                    <div class="col dual">
                        <!-- <form action="" name="edit-project-form" method="post" class="row form"> -->
                        <div class="row">
                            <!-- <input type="hidden" name="id" value="<?php echo $projID; ?>"> -->
                            <div class="row pad-bottom-small">
                                <div style="font-weight:600;">Project Name:</div>
                                <p>%projectname% </p>
                            </div>
                            <div class="row pad-bottom-small">
                                <div style="font-weight:600;">Status:</div>
                                %status%
                            </div>
                            <div class="row pad-bottom-small">
                                <div style="font-weight:600;">State:</div>
                                %state%
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                    <div class="col dual">
                        <p>There are <a href="/projects/resources/%projID%">%projResourcesCount%</a> resources assigned to this project or task.</p>
                        <p>There are <a href="/projects/tasks/%projID%">%projChildrenCount%</a> tasks that fall under this project or task.</p>
                        <p>There are <a href="/projects/files/%projID%">%projDocumentCount%</a> documents attached to this project or task.</p>
                        Describe any recent activity, show recent uploads, percentage complete, any data that indicates not being done on time, etc.
                    </div>
                    <div class="row pad-bottom-small">
                        <div style="font-weight:600;">Description:</div>
                        %scope%
                    </div>
                </div>
            </div>
        </div>
        <div class="col dual">
            <div class="row space-bottom-small">
            <a href="/projects/workorder/%projID%" class="btn btn-default pull-left"><i class="fa fa-files-o" aria-hidden="true"></i> Work Order View</a>
            </div>
            <div class="panel">
                <div class="panel-title">Work Plan</div>
                <div class="panel-content">
                    %taskList%
                </div>
            </div>
        </div>
    </div>
</main>
