<table>
    <tr>
        <th></th></th><th>Client</th><th>Description</th><th>Status</th><th>Date range</th><th>Progress</th>
    </tr>
    [for projects]
    <tr>
        <td class="check-col"><input type="checkbox" name="projects[]" value="%id%"> <a href="summary/%id%">%label%</a></td>
        <td>%company%</td>
        <td><a class="%status%" href="summary/%id%">%projectname%</a></td>
        <td>%status%</td>
        <td>%startDate% - %endDate%</td>
        <td>%progress%</td>
    </tr>
    [next]
</table>