{include common/navigation.htm}
<main class="main projects-page">
    <div class="top">
        <h1>Tasks for: %breadcrumbs%</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">{include projects/toolbar.htm}</div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row">
        <div class="form-pane">
            <form action="../../ajax" id="new-task-form" method="post" class="row form">
                <input type="hidden" name="command" value="insertTask">
                <input type="hidden" name="parent_id" value="%projID%">
                <div class="label-col" style="width:80px;">
                    <label for="projectname">Quick Insert:</label>
                </div>
                <div class="input-col">
                    <input type="text" name="projectname" placeholder="Task Name" class="form-control input-border required">
                    <button type="button" class="btn btn-go" onClick="postNewTask();">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="result">    
            %tasks%
        </div>
    </div>
</main>
