<a href="/projects/active" class="btn btn-go pull-left"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Close</a>
<a href="/projects/summary/%projID%" class="btn btn-go pull-left"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Summary</a>
<a href="/projects/detail/%projID%" class="btn btn-go pull-left"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Edit</a>
<a href="/projects/tasks/%projID%" class="btn btn-go pull-left"><i class="fa fa-list fa-fw" aria-hidden="true"></i> Tasks</a>
<a href="/projects/files/%projID%" class="btn btn-go pull-left"><i class="fa fa-files-o fa-fw" aria-hidden="true"></i> Files</a>
<a href="/projects/resources/%projID%" class="btn btn-go pull-left"><i class="fa fa-hospital-o fa-fw" aria-hidden="true"></i> Resources</a>