{include common/navigation.htm}
<main class="main project-upload-page">
    <div class="top">
        <h1>Uploads: %breadcrumbs%</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">{include projects/toolbar.htm}</div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row">
        <div class="row space-bottom-small">
            <span class="text-medium">Upload Project Documents</span>
            <p>Please select or drag files into this uploader widget to associate important files and documents with the project.</p>
        </div>
        <div class="col dual">
            <form action="/projects/receive/%projID%" class="dropzone">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>
            <hr class="row clear space-bottom-small">
            <div class="top-buttons">
                <a href="/projects/files/%projID%" class="btn btn-go pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> Done</a>
            </div>
        </div>
    </div>    
</main> 

     
