{include common/head.htm}
<main class="main-print">
    <div class="row">
        <div class="col">  
            <div class="panel space-bottom-small">
                <div class="row panel-title">Work Order</div>
                <div class="row panel-content">
                    <div class="row pad-bottom-small">
                        <div style="font-weight:600;">Name:</div>
                        <p>%clientname% </p>
                    </div>
                    <div class="row pad-bottom-small">
                        <div style="font-weight:600;">Contact:</div>
                        %first% %last%
                        <br>
                        %phone1%
                    </div>
                    <div class="row pad-bottom-small">
                        <div style="font-weight:600;">Site:</div>
                        [for places]
                            %name%: %street%, %city%, %state% %zip% (%class%)
                        [next]
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="row panel-title">Summary</div>
                <div class="row panel-content">
                    <div class="col dual">
                        <div class="row">
                            <div class="row pad-bottom-small">
                                <div style="font-weight:600;">Project Name:</div>
                                <p>%projectname% </p>
                            </div>
                        </div>
                    </div>
                    <div class="row pad-bottom-small">
                        <div style="font-weight:600;">Description:</div>
                        %scope%
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="row panel-title">Task List</div>
                <div class="row panel-content">
                    <table><tr><th>Completed</th><th>Description</th></tr>
                    [for taskList]
                    <tr class="dr">
                        <td style="width: 16px; padding: 6px; vertical-align: middle; text-align: center; margin-left: auto;margin-right: auto; align: center;">
                            <div style="margin: auto;">
                                <input type=checkbox>
                            </div>
                        </td>
                        <td>
                            <span style="font-weight: 600">%projectname%</span>
                            <br /><span style="font-size:90%">
                                %scope%
                            </span>
                        </td>
                    </tr>
                    [next]
                    </table>
                </div>
            </div>
            <div class="row panel">
                <div class="row panel-title">Day's Results</div>
                <div class="row panel-content">
                    Required: Explain unfinished task items and next steps.
                </div>
                <div class="row panel-content">
                    <div style="height: 480px; width:100%;">
                    
                    </div>
                </div>
            </div>
            <div class="row panel">
                <div class="row panel-title">Signature</div>
                <div class="row panel-content">
                    <div style="height: 48px; width:100%;">
                    
                    </div>
                    <div class="col dual">
                        <div class="row">
                            <div class="row pad-bottom-small">
                                <hr>
                                <div style="font-weight:600;">Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="col dual">
                    <div class="row pad-bottom-small">
                        <hr>
                        <div style="font-weight:600;">Date</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
