{include common/navigation.htm}
<main class="main settings-invite-page">
    <div class="top">
        <h1>Settings: Invite users</h1>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="form-pane">
        [if alert]%alert%[else]
        <form action="" name="invite_user_form" method="post" id="invite-form" class="form">
            <label for="email">Invite a user:</label>
            <input type="text" name="email" id="project-name" class="form-control input-border" style="min-width:300px;">
            <button type="button" class="btn btn-go btn-invite"><i class="fa fa-floppy-o" aria-hidden="true"></i> Send Invite</button>
        </form>
        [endif]
    </div>
</main>
<script type="text/javascript">

$('.form-pane').on('click', '.btn-invite', function() {
    $.ajax({
        url: '/settings/validateinvite',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('.alert').remove();
        },
        success: function(data) {
            if (typeof(data) !== 'undefined') {
                $('.loading').remove();
                $('form').html(data);
            }
            $('.loading').remove();
        }
    });
});
$('#invite-form').keypress(function(e) {
    if (e.which == 13) { //Enter key pressed
        $('.btn-invite').click(); //Trigger search button click event
    }
});

</script>