{include common/navigation.htm}
<main class="main settings-page">
    <div class="top">
        <h1>Settings: Preferences</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <a href="/settings" class="btn btn-go pull-left"><i class="fa fa-heart" aria-hidden="true"></i> Preferences</a>
            <a href="/settings/users" class="btn btn-go pull-left"><i class="fa fa-users" aria-hidden="true"></i> Users</a>
            <a href="/settings/system" class="btn btn-go pull-left"><i class="fa fa-gear" aria-hidden="true"></i> System</a>
        </div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row box-shadow">
        <div class="col dual project-table">
            <table>
                <tr>
                    <th>Preference Setting</th><th>Value</th><th> -</th>
                </tr>
                <tr>
                    <td>Columns Per Table:</td>
                    <td>20</td>
                    <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                    <td>Initial Screen:</td>
                    <td>Dashboard</td>
                    <td><a href="#">Edit</a></td>
                </tr>
            </table>
        </div>
    </div>        
</main>
