{include common/navigation.htm}
<main class="main settings-system-page">
    <div class="top">
        <h1>Settings: System</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <a href="/settings" class="btn btn-go pull-left"><i class="fa fa-heart fa-fw" aria-hidden="true"></i> Preferences</a>
            <a href="/settings/users" class="btn btn-go pull-left"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Users</a>
            <a href="/settings/system" class="btn btn-go pull-left"><i class="fa fa-gear fa-fw" aria-hidden="true"></i> System</a>
        </div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row space-bottom-small">
        <table class="row box-shadow">
            <tr>
                <th>Preference Setting</th><th>Value</th><th> - </th>
            </tr>
            <tr>
                <td>Company Name:</td>
                <td><input type=text></td>
                <td><a href="#">Save</a></td>
            </tr>
            <tr>
                <td>Primary Phone:</td>
                <td><input type=text></td>
                <td><a href="#">Save</a></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><textarea cols=4 style="width: 100%"></textarea></td>
                <td><a href="#">Save</a></td>
            </tr>
        </table>
    </div>
    <div class="form-pane">
        <form>
            
        </form>
    </div>
</main>
