{include common/navigation.htm}
<main class="main settings-user-page">
    <div class="top">
        <h1>Settings: Users</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <a href="/settings" class="btn btn-go pull-left"><i class="fa fa-heart fa-fw" aria-hidden="true"></i> Preferences</a>
            <a href="/settings/users" class="btn btn-go pull-left"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Users</a>
            <a href="/settings/system" class="btn btn-go pull-left"><i class="fa fa-gear fa-fw" aria-hidden="true"></i> System</a>
        </div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row">
        <a href="/settings/invite" class="btn btn-go pull-left">Invite a user</a>
        <div class="row box-shadow space-top-small">
            %userTable%
        </div>
    </div>
</main>
