</body>
<script type="text/javascript">

if (typeof localStorage.active_menu !== 'undefined') {
    var active_item = JSON.parse(localStorage.active_menu);
}

$.each(active_item, function (key, value) {
    $('.nav ' + value).next().toggleClass('active');
    $(value).find('i').toggleClass('fa-caret-down, fa-caret-up');
});

</script>
</html>