{include common/navigation.htm}
<main class="main home-page">
    <div class="top">
        <h1>Dashboard</h1>
        <hr class="basic space-bottom-small">
    </div>
    <div class="row space-bottom-small">
        <div class="col quad panel box-shadow">
            <div class="row panel-title">Active</div>
            <div class="row panel-content">
                [if inprogress]
                %inprogress% projects.
                [else]
                No active projects.
                [endif]
            </div>
        </div>
        <div class="col quad panel box-shadow">
            <div class="row panel-title" style="color:orange;">Prospective</div>
            <div class="row panel-content" style="color:orange;">
                [if prospects]
                %prospects% projects.
                [else]
                No prospective projects.
                [endif]
            </div>
        </div>
        <div class="col quad panel box-shadow">
            <div class="row panel-title" style="color:red;">Archived</div>
            <div class="row panel-content" style="color:red;">
                [if archived]
                %archived% projects.
                [else]
                No archived projects.
                [endif]
            </div>
        </div>
        <div class="col quad panel box-shadow">
            <div class="row panel-title" style="color:green;">Completed</div>
            <div class="row panel-content" style="color:green;">
                [if completed]
                %completed% projects.
                [else]
                No completed projects.
                [endif]
            </div>
        </div>
    </div>
    <div class="row space-bottom-small">
        <div class="row">
            <div class="col dual panel box-shadow">
                <div class="row panel-title">Today's Schedule</div>
                <div class="row panel-content">
                    [for todays]
                    <div class="row"><a href="/projects/summary/%id%">%projectname% - %startDate%</a></div>
                    [next]
                </div>
            </div>
            <div class="col dual panel box-shadow">
                <div class="row panel-title">Current Tickets</div>
                <div class="row panel-content">
                    <div class="row">Fire Grill: DVR acting up.</div>
                    <div class="row">Vintage Cave: iMac not getting on wifi</div>
                    <div class="row">PMRG: Monitor is out</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row space-bottom-small box-shadow">
        <div class="row panel">
            <div class="row panel-title">Tasks Due Today</div>
            <div class="row panel-content">
                [for tasks]
                <div class="row"><a href="/projects/summary/%id%">%projectname% - %startDate%</a></div>
                [next]
            </div>
        </div>
    </div>
    <div class="row space-bottom-small box-shadow">
        <div class="row panel-title">Recent Activity</div>
        <table>
            <tr><th>Date</th><th>Description</th><th></th><th>User</th></tr>
            [for today]
            <tr>
                <td>%date_added%</td>
                <td>%description%</td>
                <td></td>
                <td>%username%</td>
            </tr>
            [next]
        </table>
    </div>
    <div class="row space-bottom-small box-shadow">
        <div class="row panel-title">Older Activity</div>
        <table>
            <tr><th>Date</th><th>Description</th><th></th><th>User</th></tr>
            [for older]
            <tr>
                <td>%date_added%</td>
                <td>%description%</td>
                <td></td>
                <td>%username%</td>
            </tr>
            [next]
         </table>
    </div>
</main>