<nav class="nav">
    <ul class="main-nav list-unstyled">
        <li><a href="/home" class="nav-link home first">Dashboard</a></li>
        <li><a href="/tickets" class="nav-link tickets">Tickets</a></li>
        <li>
            <a href="#" class="nav-link projects dropdown-button" onclick="return false;">Projects
                <i class="fa fa-caret-down nav-toggle" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu list-unstyled">
                <li><a href="/projects/active" class="nav-link active">Active</a></li>
                <li><a href="/projects/prospects" class="nav-link prospects">Prospects</a></li>
                <li><a href="/projects/archived" class="nav-link archived">Archived</a></li>
                <li><a href="/calendar" class="nav-link calendar">Calendar</a></li>
                <li><a href="/home" class="nav-link templates">Templates</a></li>
            </ul>
        </li>
        <li><a href="/clients" class="nav-link clients">Clients</a></li>
        <li><a href="/configs" class="nav-link configs">Configurations</a></li>
        <li><a href="/assets" class="nav-link assets">Assets</a></li>
        <li><a href="/resources" class="nav-link resources">Resources</a></li>
        <li>
            <a href="#" class="nav-link settings dropdown-button" onclick="return false;">Settings
                <i class="fa fa-caret-down nav-toggle" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu list-unstyled">
                <li><a href="/settings/preferences" class="nav-link preferences">Preferences</a></li>
                <li><a href="/settings/users" class="nav-link users">Users</a></li>
                <li><a href="/settings/system" class="nav-link system">System</a></li>
            </ul>
        </li>
        <li><a href="/logout" class="nav-link logout">Logout</a></li>
    </ul>
</nav>