<div class="search pull-right">
    <input type="text" name="string" placeholder="Search" id="search-term" class="form-control input-border">
    <button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>