{include common/header.htm}
{include common/navigation.htm}
<main class="main search-page">
    <?php if(isset($alert)) { echo $alert; } else { ?>
    <div class="col pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="col">
                <div class="col pad-bottom-medium search-header">
                    <?php if (!empty($search_term)) { ?> 
                    <span>You searched for <strong>"<?= $search_term; ?>"</strong></span>
                    <?php } ?>
                </div>
                <div class="col">
                    <?php if (!empty($users)) { ?> 
                    <div class="dual">
                        <?php foreach ($users as $user) { ?> 
                        <a href="/profile/<?= $user['username']; ?>" class="col found-user">
                            <div class="found-user-left">
                                <p><?= $user['username']; ?></p>
                            </div>
                            <div class="found-user-right">
                                <img src="/application/images/uploads/accounts/<?= $user['avatar']; ?>" alt="Account Avatar">
                            </div>
                        </a>
                        <?php } ?> 
                    </div>
                    <?php } ?> 
                    <?php if (!empty($blog_posts)) { ?>
                    <div class="col">
                        <?php foreach ($blog_posts as $post) { ?> 
                        <div class="col blog-previews">
                            <div class="col blog-content">
                                <div class="blog-column-left">
                                    <div class="blog-img">
                                        <img src="/application/images/uploads/blog/<?= $post['image']; ?>">
                                    </div>
                                </div>
                                <div class="blog-column-right">
                                    <div class="col blog-title">
                                        <h2><?= $post['blog_title']; ?></h2>
                                    </div>
                                    <hr>
                                    <div class="col blog-info">
                                        By:<a href="/profile/<?= $post['author']; ?>"> <?= $post['author']; ?></a> <em><strong><?= $post['date_posted']; ?></strong></em>
                                    </div>
                                    <div class="col blog-body"> 
                                        <?= $post['body']; ?> 
                                    </div>
                                    <div class="col blog-link">
                                        <a href="/blog/<?= $post['blog_id']; ?>/<?= $post['blog_link']; ?>">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <?php } ?> 
                    </div>
                    <?php } ?> 
                </div>
            </div>
        </div>
    </div>
    <?php } ?>
</main>