{include common/navigation.htm}
<main class="main home-page">
    <div class="top">            
        <h1>Edit Resource: %name%</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <a href="/resources" class="btn btn-default pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
            <a onclick="postForm('#edit-resource-form');" class="btn btn-default pull-left"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
            <a onclick="confirmResourceDelete();" class="btn btn-default pull-left"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        </div>
    </div>
    <hr class="basic pad-bottom-small">
    <div style="display:none;" id="result">Not saved.</div>
    <hr class="row clear space-bottom-small">
        <div class="form-pane">
            <form action="../../ajax" id="edit-resource-form" method="post" class="row form">
                <input type="hidden" name="command" value="updateResource">
                <input type="hidden" name="id" id="id" value="%id%">
                <div class="row form-row">
                    <div class="label-col" style="width:90px;">
                        <label for="project_name" class="new-proj-label">Name:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%name%" name="name" placeholder="Resource Name" required id="name" class="form-control input-border required">
                    </div>
                </div>
                <div class="row form-row">
                    <div class="label-col" style="width:90px;">
                        <label for="project_name" class="new-proj-label">Status:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%status%" name="status" placeholder="Status" required id="project-name" class="form-control input-border required">
                    </div>
                </div>
                <div class="row form-row">
                    <div class="label-col" style="width:90px;">
                        <label for="project_type" class="new-proj-label">Type:</label>
                    </div>
                    <div class="input-col">
                        <select name="type" class="select-control">
                            <option value="%type%">%type%</option>
                            <option disabled="disabled">----</option>
                            <option value="Staff">Staff</option>
                            <option value="Asset">Asset</option>
                            <option value="Vehicle">Vehicle</option>
                            <option value="Workspace">Workspace</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
            </form>
            <hr class="basic pad-bottom-small">
            <div class="row">
                <p>Information about notes, where its been assigned, etc.</p>
            </div>
        </div>        
    </div>
</main>

<script>
 function confirmResourceDelete() {
    $( "#delete-confirm" ).dialog({
      resizable: false,
      height: "auto",
      width: 400,
      modal: true,
      buttons: {
        "Delete": function() {
          $( this ).dialog( "close" );
            var queryString = "command=deleteResource&id="+$("#id").val();
            $.post("/ajax/",queryString,
                    function(data){
                        //$("#result").html(data);
                        location.href = '/resources/';
                    });
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  }
</script>
<div id="delete-confirm" title="Delete this resource?" style="display: none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
