{include common/navigation.htm}
<main class="main resources-page">
    <div class="top">         
        <h1>Resources</h1>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="form-pane space-bottom-small quick-insert">
        <form action="../../ajax" id="new-resource-form" method="post" class="row">
            <input type="hidden" name="command" value="insertResource">
            <label for="name">Quick Insert:</label>
            <select name="type" class="select-control">
                <option value="Staff">Staff</option>
                <option value="Asset">Asset</option>
                <option value="Vehicle">Vehicle</option>
                <option value="Workspace">Workspace</option>
                <option value="Other">Other</option>
            </select>
            <input type="text" id="name" name="name" placeholder="Name" style="width:300px;">
            <button type="button" onClick="postNewResource();" class="btn btn-go"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Add</button>
        </form>
    </div>  
    <div id="result" class="box-shadow">
        {include resources/table.htm}
    </div> 
</main>
