{include common/navigation.htm}
<main class="main account-page">
    <div class="top">
        <h1>Account Settings</h1>
        <span style="color:red;">THIS PAGE UNDER CONSTRUCTION.</span>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="account">
        <div class="account-left-panel">
            <div class="row">
                <div class="avatar">
                    <img src="/application/storage/uploads/account/%avatar%" alt="Account Avatar" class="row">
                    <form action="/account/uploadAvatar" class="dropzone needsclick dz-clickable" id="dropzone"></form>
                </div>
            </div>
        </div>
        <div class="account-right-panel">
            <form action="" method="post" id="account-form" class="row">
                <div class="row">
                    <div class="col-account-left">
                        <div class="row pad-bottom-small">
                            <label for="username">Username:</label>
                        </div>
                    </div>
                    <div class="col-account-right">
                        <div class="row pad-bottom-small right username">
                            <input type="text" name="username" placeholder="Username" value="%username%" id="username" class="row form-control input-border">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-account-left">
                        <div class="row pad-bottom-small">
                            <label for="firstname">Name:</label>
                        </div>
                    </div>
                    <div class="col-account-right">
                        <div class="row pad-bottom-small right firstname">
                            <input type="text" name="firstname" value="%firstname%" id="firstname" class="row form-control input-border">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-account-left">
                        <div class="row pad-bottom-small">
                            <label for="lastname">Surname:</label>
                        </div>
                    </div>
                    <div class="col-account-right">
                        <div class="row pad-bottom-small right lastname">
                            <input type="text" name="lastname" value="%lastname%" id="lastname" class="row form-control input-border">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-account-left">
                        <div class="row pad-bottom-small">
                            <label for="email">Email:</label>
                        </div>
                    </div>
                    <div class="col-account-right">
                        <div class="row pad-bottom-small right email">
                            <input type="email" name="email" placeholder="Email" value="%email%" id="email" class="row form-control input-border">
                        </div>
                    </div>
                </div>
                <div class="row pad-bottom-medium">
                    <div class="col-account-left">
                        <div class="row pad-bottom-small">
                            <label for="website">Website:</label>
                        </div>
                    </div>
                    <div class="col-account-right">
                        <div class="row pad-bottom-small right website">
                            <input type="text" name="website" value="%website%" id="website" class="row form-control input-border">
                        </div>
                    </div>
                </div>
                <div class="row pad-bottom-medium">
                    <div class="col-account-left">
                        <div class="row pad-bottom-small">
                            <label for="birthday">Date of Birth:</label>
                        </div>
                    </div>
                    <div class="col-account-right">
                        <div class="row birthday">
                            <select name="day" class="select-control">
                                [if day]
                                <option value="%day%" selected>%day%</option>
                                [else]
                                <option value="" selected>Day</option>
                                [endif]
                                [for i = 1; i < 32; i++]
                                <option value="%i%">%i%</option>
                                [endfor]
                            </select>
                            <select name="month" class="select-control">
                                [if month]
                                <option value="%month_num%" selected>%month%</option>
                                [else]
                                <option value="" selected>Month</option>
                                [endif]
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select name="year" class="select-control">
                                [if year]
                                <option value="%year%" selected>%year%</option>
                                [else]
                                <option value="" selected>Year</option>
                                [endif]
                                [for i = 2017; i > 1899; i--]
                                <option value="%i%">%i%</option>
                                [endfor]
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-account-left">
                        <div class="row pad-bottom-small">
                            <label for="password">Password:</label>
                        </div>
                    </div>
                    <div class="col-account-right">
                        <div class="row pad-bottom-small right password">
                            <input type="password" name="password" placeholder="New password" id="password" class="row form-control input-border">
                            <div class="show-pw"><i class="fa fa-eye" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
                <div class="row pad-bottom-medium">
                    <div class="col-account-left">
                        <div class="row pad-bottom-small">
                            <label for="confirm">Confirm Password:</label>
                        </div>
                    </div>
                    <div class="col-account-right">
                        <div class="row pad-bottom-small right confirm">
                            <input type="password" name="confirm" placeholder="Repeat your password" id="confirm" class="row form-control input-border">
                        </div>
                        <div class="row pad-bottom-small">
                            <button type="button" class="btn btn-go btn-account pull-left"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                        </div>
                    </div>
                </div>
                <input type="text" name="red_herring" class="red-herring">
            </form>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#account-form').validator({
    usernameValid : true,
    firstnameValid : true,
    lastnameValid : true,
    emailValid : true,
});

$('#username').on('keyup change', function() {
    var username = $.trim($('#username').val().toUpperCase().replace(/\s+/g, ''));
    var current_username = '%username%';
    current_username = current_username.toUpperCase();
    $.post('/account/usernameLiveCheck', $('.form').serialize()).done(function(data) {
        if (username != current_username) {
            if (username.length > 0 && username == data) {
                $('.username .alert-inline').remove();
                $('#username').css({'border':'1px solid #f15454'});
                $('.username').append('<div class="alert-inline"><div class="alert-inline-arrow"></div>Username taken.</div>');
            }
        }
    });
});
$('#email').on('keyup change', function() { 
    var email = value;
    var current_email = '%email%';
    current_email = current_email.toUpperCase();
    $.post('/account/emailLiveCheck', $('.form').serialize()).done(function(data) {   
        if (email.length > 5 && email == data) {
            $('.email .alert-inline').remove();
            $('#email').css({'border':'1px solid #f15454'});
            $('.email').append('<div class="alert-inline"><div class="alert-inline-arrow"></div>Email taken.</div>');
        }
    });
});

Dropzone.options.dropzone = {
    paramName: 'avatar', // The name that will be used to transfer the file
    maxFilesize: 1, // MB
    maxFiles: 1,
    acceptedFiles: '.jpg, .png, .gif',
    dictDefaultMessage: 'Change',
    success: function(file, response) {
        $('.alert').remove();
        $('.loading').remove();
        $('#account-form').prepend('<div class="alert success"><strong>Success!</strong>Your account has been updated. ( <a href="/account">Continue?</a> )</div>');
    },
    error: function(file, response) {
        $('.alert').remove();
        $('.loading').fadeOut(700);
        $('#account-form').prepend('<div class="alert error"><strong>Error!</strong> ' + response + ' ( <a href="/account">Try Again?</a> )</div>');
    }
};

$('.btn-account').click(function() {
    $.ajax({
        url: '/account/validate',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('.alert').remove();
            $('.password-strength').remove();
        },
        success: function(data) {
            if (typeof(data) !== 'undefined') {
                $('.alert').remove();
                $('.loading').remove();
                $('#account-form').prepend(data);
            }
            $('html, body').animate( {
                scrollTop: 0
            }, 500);
        }
    });
});
$('#account-form').keypress(function(e) {
    if (e.which == 13) {//Enter key pressed
        $('.btn-account').click();//Trigger search button click event
    }
});

$('#send-button').click(function() {
    $.ajax({
        url: '/account/sendActivateMail',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('.alert').remove();
            $('.password-strength').remove();
        },
        success: function(data) {
            if (typeof(data) !== 'undefined') {
                $('.alert').remove();
                $('.loading').remove();
                $('.activate').html(data);
            }
        }
    });
});

</script>