{include common/header.htm}
{include common/navigation.htm}
<main class="main activation-page">
    <div class="col pad-top-small pad-bottom-small">
        <div class="wrapper">
            <?php if (isset($alert)) { echo $alert; } else { ?>
            <div class="col pad-top-large pad-bottom-large">
                <div class="col user-form text-center">
                    <strong class="col pad-bottom-small">Request Activation Link</strong>
                    <form action="" method="post" class="form">
                        <div class="form-row email">
                            <input type="email" name="email" placeholder="Email" required id="email" class="form-control required">
                        </div>
                        <div class="form-row">
                            <input type="submit" name="send" value="Send" disabled="disabled" id="send" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
</main>
[if group < 1]
            <div class="row pad-top-large pad-bottom-large activation-required">
                <form action="" method="post" class="row activate">
                    <div class="alert success"><strong>Notice:</strong>You must activate your account. If you did not recieve the activation email you can <button type="button" id="send-button" class="send-activate">send another</button>.</div>
                </form>
            </div>
            [else]
<script type="text/javascript">
    $(document).ready(check_required_inputs('#send'));
    $(document).ready(show_loader);
</script>
