{include common/navigation.htm}
<main class="main new-project-page">
    <!-- <?php if($parent_id != 0) { ?>
    <div class="row">
        <div class="wrapper">
            <div class="row breadcrumb">
                <ul class="row list-unstyled">
                    <?php displayBreadCrumbs($parent_id, true);?>
                </ul>  
            </div>
        </div>
    </div>
    <?php } ?> -->
    <div class="row pad-top-large pad-bottom-large">
        <div class="row">
            <div class="wrapper">
                <h1 class="heading-small pull-left">Invite user</h1>
                <hr class="row space-top-small space-bottom-small">
                <div class="row main-panel">
                    <div class="panel-title">Settings > Invite users</div>
                    <nav class="row dashboard-controls">
                        <div class="wrapper">
                            <ul class="list-unstyled">
                                <li class="divider"></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="document.forms['new-project-form'].submit(); return false;">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
                                <li class="divider"></li>
                                <li><a href=""><i class="fa fa-times-circle" aria-hidden="true"></i></a></li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="row panel-content">
                        <?php if (isset($alert)) { echo $alert; } else { ?>
                        <div class="col new-project">
                            <span class="pad-bottom-small heading-small">Invite a user</span>
                            <form action="" name="new-project-form" method="post" class="form">
                                <div class="triple">
                                    <div class="form-row project-name">
                                        <input type="text" name="email" placeholder="Email Address" required id="project-name" class="form-control required">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
