{include common/head.htm}
<main class="main invitation-page">
    [if token_invalid]
    <div class="alert error"><strong>Error!</strong> The activation link appears to be not legitimate or expired. <button type="button" class="alert-close"><i class="fa fa-times" aria-hidden="true"></i></button></div>
    [else]
    <div class="col user-form text-center">
        <div class="row activate-form">
            <form action="" method="post" class="row form" id="activate-form">
                <input type="hidden" name="company" value="">
                <input type="hidden" name="address" value="">
                <input type="hidden" name="phone" value="">
                <div class="row pad-bottom-medium">
                    <h1 class="heading-medium">Join <?= SITENAME; ?></h1>
                </div>
                <div class="row form-row firstname">
                    <label for="firstname" class="label-control">Firstname</label>
                    <input type="text" name="firstname" value="%firstname%" id="firstname" class="row form-control input-border">
                </div>
                <div class="row form-row lastname">
                    <label for="lastname" class="label-control">Lastname</label>
                    <input type="text" name="lastname" value="%lastname%" id="lastname" class="row form-control input-border">
                </div>
                <div class="row form-row email">
                    <label for="email" class="label-control">Email</label>
                    <input type="email" name="email" value="%email%" id="email" class="row form-control input-border">
                </div>
                <div class="row form-row password">
                    <label for="password" class="label-control">Password</label>
                    <input type="password" name="password" id="password" class="row form-control input-border">
                    <div class="password-strength"></div>
                </div>
                <div class="row form-row confirm">
                    <label for="confirm_password" class="label-control">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm" class="row form-control input-border">
                </div>
                <div class="row form-row">
                    <button type="button" class="btn btn-go btn-activate row">Sign Up</button>
                </div>
                <p class="text-small text-left">By signing up with <?= SITENAME; ?>, you are agreeing to our <a href="/information/terms">terms of service</a> and <a href="/information/privacy">privacy policy</a>.</p>
                <hr class="space-top-small space-bottom-medium">
                <div class="row form-row text-center">
                    <p class="row form-row">Already have an account?</p>
                    <a href="/login" class="btn btn-default row">Login</a>
                </div>
            </form>
        </div>
    </div>
    [endif]
</main>
<script type="text/javascript">

var height = $('.user-form').height()/2;
$('.user-form').css({'margin-top': -height});

$('.user-form').on('click', '.btn-activate', function() {
    $.ajax({
        url: '/signup/validate',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('.alert').remove();
        },
        success: function(data) {
            if (typeof(data) !== 'undefined') {
                $('.loading').remove();
                $('form').html(data);
            }
            $('.loading').remove();
        }
    });
});
$('#invite-form').keypress(function(e) {
    if (e.which == 13) { //Enter key pressed
        $('.btn-activate').click(); //Trigger search button click event
    }
});

</script>