{include common/head.htm}
<main class="main login-page">
    <div class="col user-form text-center">
        <div class="row login-form">
            <div class="row pad-bottom-medium">
                <a href="/dashboard" class="logo" style="color:#4d6387;"><?= SITENAME; ?></a>
            </div>
            <form action="" method="post" id="login-form" class="row fancy-form">
                <div class="row fancy-row space-bottom-small email">
                    <label for="email">Email</label>
                    <input type="email" name="email" required id="email" class="row required">
                </div>
                <div class="row fancy-row space-bottom-small">
                    <label for="password">Password</label>
                    <input type="password" name="password" required id="password" class="row required">
                    <div class="show-pw"><i class="fa fa-eye" aria-hidden="true" title="Show password"></i></div>
                </div>
                <div class="row space-bottom-small">
                    <button type="button" class="btn btn-go btn-login row">Login</button>
                </div>
                <a href="/reset" class="forgot-pw">Forgot password</a>
                <hr class="row space-top-small space-bottom-small">
                <div class="form-row row">
                    <p class="row form-row">Don't have an account?</p>
                    <a href="/signup" class="btn btn-default row">Create an account</a>
                </div>
                <input type="text" name="red_herring" class="red-herring">
            </form>
        </div>
    </div>
</main>
<script type="text/javascript">

var height = $('.user-form').height()/2;
$('.user-form').css({'margin-top': -height});

$('#login-form').validator({
    formButton : '.btn-login'
});

$('#login-form').on('click', '.btn-login', function() {
    $.ajax({
        url: '/login/validate',
        type: 'post',
        data: $('#login-form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('#login-form').css({'visibility':'hidden'});
            $('.alert').remove();
            $('.password-strength').remove();
        },
        success: function(result) {
            if (typeof(result) !== 'undefined') {
                if (!result) {
                    window.location.replace('/home');
                }
                $('#login-form').css({'visibility':'visible'});
                $('.loading').remove();
                $('form').prepend(result);
            } 
        }
    });
});
$('#login-form').keypress(function(e) {
    if(e.which == 13){ //Enter key pressed
        $('.btn-login').click(); //Trigger search button click event
    }
});

</script>
