{include common/navigation.htm}
<main class="main logout-page">
    <div class="col user-form text-center" style="top:30%;">
        [if inactive]
        <div class="row pad-bottom-large text-center">
            <div class="row">
                <div class="alert error"><strong>Attention:</strong> You were logged out do to inactivity.</div>
            </div>
        </div>
        [else]
        <div class="row pad-bottom-large text-center">
            <div class="row">
                <div class="alert success"><strong>Logout:</strong> Are you sure you want to log out?</div>
            </div>
            <div class="row pad-top-small">
                <div class="col col dual">
                    <a href="/home" class="btn btn-stop pull-left"><i class="fa fa-ban" aria-hidden="true"></i> No</a>
                </div>
                <div class="col col dual">
                    <a href="/logout/confirm" class="btn btn-go pull-right"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Yes</a>
                </div>
            </div>
        </div>
        [endif]
    </div>
</main>
