{include common/head.htm}
<main class="main reset-page">
    <div class="col user-form text-center" style="top:30%;">
        <div class="row reset-form">
            <div class="row pad-bottom-medium">
                <h1 class="logo" style="color:#4d6387;">Reset Password</h1>
            </div>
            [if change_pw]
            <form action="" method="post" id="save-form" class="row form change-pw">
                <div class="row form-row password">
                    <input type="hidden" name="id" value="%id%">
                    <label for="password" class="label-control">Enter a new password</label>
                    <input type="password" name="password" id="password" class="row form-control input-border" required>
                    <div class="show-pw"><i class="fa fa-eye" aria-hidden="true"></i></div>
                </div>
                <div class="row form-row confirm">
                    <label for="confirm_pw" class="label-control">Re-enter your password</label>
                    <input type="password" name="confirm_pw" id="confirm" class="row form-control input-border" required>
                </div>
                <div class="row form-row">
                    <button type="button" id="save-button" class="btn btn-go row">Save</button>
                </div>  
            </form>
            [else]
            <form action="" method="post" id="send-form" class="row form">
                <div class="row form-row email">
                    <label for="email" class="label-control">Email</label>
                    <input type="email" name="email" id="email" class="row form-control input-border" required>
                </div>
                <div class="row form-row">
                    <button type="button" id="send-button" class="btn btn-go row">Send recovery link</button>
                </div>
            </form>
            [endif]
        </div>
    </div>
</main>
<script type="text/javascript">

$('#save-form').validator({
    emailValid : true
});

$('#send-button').click(function() {
    $.ajax({
        url: '/reset/sendRecoveryMail',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('.alert').remove();
        },
        success: function(data) {
            if (typeof(data) !== 'undefined') {
                $('.loading').remove();
                $('h1').after(data);
            }
        }
    });
});
$('#send-form').keypress(function(e) {
    if(e.which == 13){//Enter key pressed
        $('#send-button').click();//Trigger search button click event
    }
});

$('#save-button').click(function() {
    $.ajax({
        url: '/reset/saveResetPassword',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('.alert').remove();
        },
        success: function(data) {
            if (typeof(data) !== 'undefined') {
                $('.alert').remove();
                $('.loading').remove();
                $('#save-form').prepend(data);
            }
        }
    });
});
$('#save-form').keypress(function(e) {
    if(e.which == 13){ //Enter key pressed
        $('#save-button').click(); //Trigger search button click event
    }
});

</script>