{include common/head.htm}
<main class="main signup-page">
    <div class="col user-form text-center">
        <div class="row signup-form">
            <div class="row pad-bottom-medium">
                <a href="/dashboard" class="logo" style="color:#4d6387;"><?= SITENAME; ?></a>
            </div>
            <form class="row form fancy-form" id="signup-form">
                <h2 class="text-medium text-left">Company Details</h2>
                <div class="row space-bottom-small fancy-row">
                    <label for="company">Company Name</label>
                    <input type="text" name="company" required id="company-name" class="row required">
                </div>
                <div class="row space-bottom-small fancy-row">
                    <label for="address">Mailing Address</label>
                    <textarea name="address" id="address" class="row"></textarea>
                </div>
                <div class="row space-bottom-small fancy-row phone">
                    <label for="phone">Primary Phone</label>
                    <input type="text" name="phone" id="phone" class="row">
                </div>
                <h3 class="text-medium text-left">Master Account Details</h3>
                <div class="row space-bottom-small fancy-row firstname">
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" required id="firstname" class="row required">
                </div>
                <div class="row space-bottom-small fancy-row lastname">
                    <label for="lastname">Last Name</label>
                    <input type="text" name="lastname" required id="lastname" class="row required">
                </div>
                <div class="row space-bottom-small fancy-row email">
                    <label for="email">Email</label>
                    <input type="email" name="email" required id="email" class="row required">
                </div>
                <div class="row space-bottom-small fancy-row password">
                    <label for="password">Password</label>
                    <input type="password" name="password" required id="password" class="row required">
                    <div class="show-pw"><i class="fa fa-eye" aria-hidden="true" title="Show password"></i></div>
                </div>
                <div class="row space-bottom-small fancy-row confirm">
                    <label for="confirm_password">Repeat Password</label>
                    <input type="password" name="confirm_password" required id="confirm" class="row required">
                </div>
                <div class="row space-bottom-small">
                    <button type="button" class="btn btn-default btn-go btn-signup disabled row">Signup</button>
                </div>
                <p class="text-small text-left">By signing up with <?= SITENAME; ?>, you are agreeing to our <a href="/information/terms">terms of service</a> and <a href="/information/privacy">privacy policy</a>.</p>
                <hr class="space-top-small space-bottom-medium">
                <div class="row space-bottom-small text-center">
                    <p class="row space-bottom-small">Already have an account?</p>
                    <a href="/login" class="btn btn-default row">Login</a>
                </div>
            </form>
        </div>
    </div> 
</main>
<script type="text/javascript">

var height = $('.user-form').height()/2;
$('.user-form').css({'margin-top': -height});

$('#signup-form').validator({
    formButton : '.btn-signup'
});

$('.btn-signup').click(function() {
    $.ajax({
        url: '/signup/validate',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('.alert').remove();
            $('.password-strength').remove();
        },
        success: function(data) {
            if (typeof(data) !== 'undefined') {
                $('.loading').remove();
                $('form').prepend(data);
            }
            $('.loading').remove();
        }
    });
});
$('#signup-form').keypress(function(e) {
    if (e.which == 13) { //Enter key pressed
        $('.btn-signup').click(); //Trigger search button click event
    }
});

</script>