<style type="text/css">
    /*
    =========================================
    Gantt CSS
    */
    table td, table th {
        padding: 0.3em;
        margin: 0;
    }
    table td.empty, table th.empty {
        border: 0;
        background: transparent;
    }
    table th {
        background-color:rgba(51, 51, 51, 1);
        color:rgba(255, 255, 255, 1);
    }
    table th, table td.task {
        text-align: left;
        border: 1px solid rgba(31, 31, 31, 1);
    }
    table td.task {
        width: 200px;
    }
    table td.day {
        width: 50px;
        background: #CCC;
        border: 1px solid rgba(51, 51, 51, 1);
    }
    table td div {
        height: 30px;
    }
    table tr.alt {
        background: #F4F4F4;
    }
    div.task1 {
        background: #C2CAEF;
        width: 250px;
        margin-left: 50px;  
    }
    div.task2 {
        background: #FFAFAF;
        width: 350px;
        margin-left: 200px; 
    }
    div.task3 {
        background: #C7DFB5;
        width: 450px;
        margin-left: 300px; 
    }
</style>
{include common/navigation.htm}
<main class="main calendar-page">
    <div class="row pad-top-large pad-bottom-large">
        <div class="row pad-bottom-large">
            <div class="wrapper">
                <div class="row">
                    <table>
                        <tr>
                            <th class="empty"></th>
                            <th colspan="6">Week 13</th>
                            <th colspan="7">Week 14</th>
                            <th colspan="3">Week 15</th>
                        </tr>
                        <tr>
                            <td class="empty"></td>
                            <td class="day">T4</td>
                            <td class="day">W5</td>
                            <td class="day">T6</td>
                            <td class="day">F7</td>
                            <td class="day">S8</td>
                            <td class="day">S9</td>
                            <td class="day">M10</td>
                            <td class="day">T11</td>
                            <td class="day">W12</td>
                            <td class="day">T13</td>
                            <td class="day">F14</td>
                            <td class="day">S15</td>
                            <td class="day">S16</td>
                            <td class="day">M17</td>
                            <td class="day">T18</td>
                            <td class="day">W19</td>
                        </tr>
                        <tr class="alt">
                            <td class="task">Fire Grill</td>
                            <td colspan="16" class="taskbar"><div class="task1">&nbsp;</div></td>
                        </tr>
                        <tr>
                            <td class="task">Phase 1</td>
                            <td colspan="16" class="taskbar"><div class="task2">&nbsp;</div></td>
                        </tr>
                        <tr class="alt">
                            <td class="task">Install Backboard</td>
                            <td colspan="16" class="taskbar"><div class="task3">&nbsp;</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
