{include common/navigation.htm}
<main class="main home-page">
    <div class="top">
        <h1>Clients</h1>
        <hr class="basic">
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <button type="button" class="btn btn-go pull-left box-shadow" onclick="$('#newClientDialog').dialog('open');"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> New</button>
        </div>
    </div>
    <div class="row box-shadow" id="clientTable">
        {include clients/table.htm}
    </div>
</main>
<div id="newClientDialog">
    <form action="../../ajax" id="insert-client-form" method="post" class="row">
        <input type="hidden" name="command" value="insertClient">
        {include clients/form.htm}
    </form>
</div>        
<script>

$("#newClientDialog").dialog({
    autoOpen: false,
    resizable: false,
    height:580,
    width:430,
    modal: true,
    title:'New Client',
    buttons: {
        "Create": function() {
            postForm('#insert-client-form');
            $('#insert-client-form')[0].reset();
            $(this).dialog('close');
            refreshClientTable();
        },
        Cancel: function() {
            $(this).dialog('close');
        }
    }
});

</script>
