{include common/navigation.htm}
<main class="main home-page">
    <div class="top">
        <h1>Configurations: %company%</h1>
        <div class="tool-divider"></div>
        {include clients/toolbar.htm}
    </div>
    <hr class="basic pad-bottom-small">
    <div class="form-pane space-bottom-small">
            <form action="" name="new-project-form" method="post" class="row form">
                <label for="project_name">Quick Insert:</label>
                <input type="text" name="project_name" placeholder="Config Name" id="project-name" class="form-control input-border">
                <a href="#" onclick="document.forms['new-project-form'].submit(); return false;" class="btn btn-go"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
            </form>
        </div> 
    <div class="row">
        <table>
            <tr>
                <th>Description</th><th>Status</th><th>Class</th><th></th>
            </tr>
            [for projects]
            <tr>
                <td><a href="../../configs/detail/%id%">%projectname%</a></td>
                <td>%status%</td>
                <td>%class%</td>
                <td></td>
            </tr>
            [next]
        </table>
    </div>
</main>
