{include common/navigation.htm}
<main class="main row logout-page">
    <div class="row pad-bottom-large text-center">
        <div class="row">
            <div class="alert success">Deleting client "%nickname%".</div>
            <div class="alert success">Are you sure you want to delete this record?  This cannot be undone.</div>
        </div>
        <div class="row pad-top-large">
            <a href="#" onclick="window.history.back();" class="btn btn-primary">No</a> <a href="/clients/delconfirmed/%id%" class="btn btn-primary">Yes</a>
        </div>
    </div>
</main>
