{include common/navigation.htm}
<main class="main home-page">
    <div class="top">
        <h1>Clients</h1>
        <div class="tool-divider"></div>
        <div class="top-buttons">
            <button type="button" class="btn btn-default pull-left" onclick="postForm('#edit-client-form');"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
            <a href="/clients/delete/%id%" class="btn btn-default pull-left"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
            <div class="tool-divider"></div>
            {include clients/toolbar.htm}
        </div>
    </div>
    <hr class="basic pad-bottom-small">
    <div class="form-pane">
        <div style="display:none;" id="result">Not saved.</div>
            <form action="../../ajax" id="edit-client-form" method="post" class="row form">
                <input type="hidden" name="command" value="updateClient">
                <input type="hidden" value="%id%" name="id" class="form-control input-border">
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>Client Name:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%company%" name="company" placeholder="" class="form-control input-border">
                    </div>
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>First:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%first%" name="first" placeholder="" class="form-control input-border">
                    </div>
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>Last:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%last%" name="last" placeholder="" class="form-control input-border">
                    </div>
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>Street:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%street%" name="street" placeholder="" class="form-control input-border">
                    </div>  
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>City:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%city%" name="city" placeholder="" class="form-control input-border">
                    </div> 
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>State:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%state%" name="state" placeholder="" class="form-control input-border">
                    </div>
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>Zip:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%zip%" name="zip" placeholder="" class="form-control input-border">
                    </div>
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>Phone1:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%phone1%" name="phone1" placeholder="" class="form-control input-border">
                    </div>
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>Phone2:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%phone2%" name="phone2" placeholder="" class="form-control input-border">
                    </div>
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>Email:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%email%" name="email" placeholder="" class="form-control input-border">
                    </div>
                </div>
                <div class="row space-bottom-small">
                    <div class="label-col" style="width:90px;">
                        <label>Nickname:</label>
                    </div>
                    <div class="input-col">
                        <input type="text" value="%nickname%" name="nickname" placeholder="" class="form-control input-border">
                    </div>
                </div>
            </form>
        </div>  
    </div>      
</main>
