<div class="row pad-bottom-small">
    <label class="new-proj-label">Company:</label>
    <input type="text" value="" name="company" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">First:</label>
    <input type="text" value="" name="first" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">Last:</label>
    <input type="text" value="" name="last" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">Street:</label>
    <input type="text" value="" name="street" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">City:</label>
    <input type="text" value="" name="city" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">State:</label>
    <input type="text" value="" name="state" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">Zip:</label>
    <input type="text" value="" name="zip" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">Phone1:</label>
    <input type="text" value="" name="phone1" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">Phone2:</label>
    <input type="text" value="" name="phone2" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">Email:</label>
    <input type="text" value="" name="email" class="form-control input-border">
</div>
<div class="row pad-bottom-small">
    <label class="new-proj-label">Nickname:</label>
    <input type="text" value="" name="nickname" class="form-control input-border">
</div>    
