<div class="row main-panel">
    <table width="100%">
    <tr><th></th></th><th>First</th><th>Last</th><th>Work Phone</th><th>Cell Phone</th><th>Email</th></tr>
    [for people]
    <tr>
        <td class="check-col"><input type="checkbox" name="people[]" value="%id%"></td>
        <td>%first%</td><td>%last%</td>
        <td>%work%</td>
        <td>%mobile%</td>
        <td>%email%</td>
    </tr>
    [next]
</table>
</div>