{include common/navigation.htm}
<main class="main home-page">
    <div class="top">
        <h1>People: %company%</h1>
        <div class="tool-divider"></div>
        {include clients/toolbar.htm}
    </div>
    <hr class="basic pad-bottom-small">
    <div class="form-pane">
        <form action="../../ajax" id="new-person-form" method="post" class="row form">
            <input type="hidden" name="command" value="insertPerson">
            <input type="hidden" name="parent_id" value="%id%">
            <div class="row">
                <label for="first" class="new-proj-label">Insert:</label>
                <input type="text" name="first" placeholder="First" class="form-control input-border">
                <input type="text" name="last" placeholder="last" class="form-control input-border">
                <input type="text" name="email" placeholder="email" class="form-control input-border">
                <input type="text" name="work" placeholder="work" class="form-control input-border">
                <input type="text" name="mobile" placeholder="mobile" class="form-control input-border">
                <input type="button" value="Add" class="btn btn-go" onClick="postNewPerson();">
            </div>
        </form>
    </div>
    <div class="row space-top-small">
        <div class="top-buttons space-bottom-small">
            <button type="button" class="btn btn-stop pull-left" onclick="deletePerson();"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
        </div>
        <form action="../../ajax" id="people-form" method="post" class="row">
            <input type="hidden" name="command" value="deletePerson">
            <input type="hidden" name="parent_id" value="%id%">
            <div id="result">    
                {include clients/peopleList.htm}
            </div>
        </form>
    </div>
</main>
