<div class="row main-panel">
    <table width="100%"><tr><th></th></th><th>Name</th><th>Street</th><th>City</th><th>State</th><th>Zip</th><th>Room#</th><th>Type</th></tr>
    [for places]
    <tr>
        <td class="check-col"><input type="checkbox" name="places[]" value="%id%"></td>
        <td>%name%</td><td>%street%</td>
        <td>%city%</td>
        <td>%state%</td>
        <td>%zip%</td>
        <td>%room%</td>
        <td>%class%</td>
    </tr>
    [next]
    </table>
</div>