{include common/navigation.htm}
<main class="main home-page">
    <div class="top">
        <h1>Places: %company%</h1>
        <div class="tool-divider"></div>
        {include clients/toolbar.htm}
    </div>
    <hr class="basic pad-bottom-small">
    <div class="form-pane">
        <form action="../../ajax" id="new-place-form" method="post" class="row form">
            <input type="hidden" name="command" value="insertPlace">
            <input type="hidden" name="parent_id" value="%id%">
            <div class="row">
                <label for="first" class="new-proj-label">Insert:</label>
                <input type="text" name="name" placeholder="Name" class="form-control input-border">
                <input type="text" name="street" placeholder="Street" class="form-control input-border">
                <input type="text" name="city" placeholder="City" class="form-control input-border">
                <input type="text" name="state" placeholder="State" class="form-control input-border">
                <input type="text" name="zip" placeholder="Zip" class="form-control input-border">
                <input type="text" name="room" placeholder="Suite or Room#" class="form-control input-border">
                <select name="class" class="select-control">
                <option value="Office">Office</option>
                <option value="Job Site">Job Site</option>
                <option value="Client">Client</option>
                <option value="Other">Other</option>
            </select>
                <input type="button" value="Add" class="btn btn-go" onClick="postNewPlace();">
            </div>
        </form>
    </div>
    <div class="row space-top-small">
        <div class="top-buttons space-bottom-small">
            <button type="button" class="btn btn-stop pull-left" onclick="deletePlace();"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
        </div>
        <form action="../../ajax" id="places-form" method="post" class="row">
            <input type="hidden" name="command" value="deletePlace">
            <input type="hidden" name="parent_id" value="%id%">
            <div id="result">    
                {include clients/placesList.htm}
            </div>
        </form>
    </div>
</main>
