{include common/navigation.htm}
<main class="main home-page">
    <div class="top">
        <h1>Projects: %company%</h1>
        <div class="tool-divider"></div>
        {include clients/toolbar.htm}
    </div>
    <hr class="basic pad-bottom-small">
    <div class="form-pane space-bottom-small">
        <span class="pad-bottom-small heading-small">%echo%</span>
        <form action="" name="new-project-form" method="post" class="row form">
            <label for="project_name">Quick Insert:</label>
            <input type="text" name="project_name" placeholder="Project Name" id="project-name" class="form-control input-border" style="min-width:300px;">
            <input type="hidden" value="%id%" name="client_id" id="client_id">
            <button type="button" onclick="document.forms['new-project-form'].submit();" class="btn btn-go"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        </form>
    </div>
    <div class="row">
        <table width="100%">
            <tr>
                <th>Description</th><th>Status</th><th>Type</th><th>Date range</th>
            </tr>
            [for projects]
            <tr>
                <td><a href="../../projects/summary/%id%">%projectname%</a></td>
                <td>%status%</td>
                <td>%type%</td>
                <td>%startDate% - %endDate%</td>
            </tr>
            [next]
        </table>
    </div>
</main>
