<form action="../../ajax" id="insert-client-form" method="post" class="row form">
    <input type="hidden" name="command" value="updateClient">
    <table>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Primary Contact</th>
        </tr>
        <tr style="background:#d3d3d3">
            <td colspan=3>
                <a href="javascript:void(0);" onclick="selectClient('0', 'None');">Assign to no client</a>
            </td>
        </tr>
        [for allClients]
        <tr>
            <td>
                <a href="#" onclick="selectClient('%id%', '%displayName%');">%company%</a>
            </td>
        </tr>
        [next]
    </table>
</form>
<script type="text/javascript">

function selectClient(id, name) {
    $("#edit-project-form input[id=client-name]").val(name);
    $("#edit-project-form input[name=clientid]").val(id);
    $('.searchResults').css("display","none");
    $('#quickSearch').val("");
}
</script>
