{include common/navigation.htm}
<main class="main client-summary-page">
    <div class="top">
        <h1>Client: %company%</h1>
        <div class="tool-divider"></div>
        {include clients/toolbar.htm}
    </div>
    <hr class="basic pad-bottom-small">
    <div class="row">
        <div class="row space-bottom-small">
            <div class="col quad">
                <div class="panel box-shadow">
                    <div class="row panel-title">Open Projects</div>
                    <div class="row panel-content">
                    [if inprogress]
                        %inprogress% projects.
                    [else]
                        No active projects.
                    [endif]
                    </div>
                </div>
            </div>
            <div class="col quad">
                <div class="panel box-shadow">
                    <div class="row panel-title" style="color:orange;">Open Tickets</div>
                    <div class="row panel-content" style="color:orange;">3</div>
                </div>
            </div>
            <div class="col quad">  
                <div class="panel box-shadow">
                    <div class="row panel-title" style="color:red;">Configs</div>
                    <div class="row panel-content" style="color:red;">
                    [if configs]
                        %configs% configs.
                    [else]
                        No configs.
                    [endif]
                    </div>
                </div>
            </div>
            <div class="col quad">
                <div class="panel box-shadow">
                    <div class="row panel-title" style="color:green;">Assets</div>
                    <div class="row panel-content" style="color:green;">54</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="onclick-menu-wrapper">
                <div class="onclick-menu minimal space-bottom-small">
                    <ul class="onclick-menu-content">
                        <li><a href="/clients/projects">Project</a></li>
                        <li><a href="#" onclick="alert('ticket')">Ticket</a></li>
                        <li><a href="/clients/configs/">Config</a></li>
                        <li><a href="#" onclick="alert('asset')">Asset</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col dual">
                <div class="panel space-bottom-small">
                    <div class="row panel-title">Addresses:</div>
                        <div class="row panel-content">
                            [if places]
                        
                            [else]
                            None
                            [endif]
                            [for places]
                            %name%: 
                            %street%, %city%, %state% %zip% (%class%)
                            [next]
                            <a href="/clients/places/%id%">add</a>
                        </div>
                    </div>
                </div>
                <div class="panel space-bottom-small">
                    <div class="row panel-title">People:</div>
                    <div class="row panel-content">
                        [for people]
                        <div class="row">
                            %first% %last%
                            %email%
                            %work%[if mobile] ,%mobile% [endif]
                        </div>
                        [next]
                        <a href="/clients/people/%id%">add</a>
                    </div>
                </div>
                <div class="panel space-bottom-small">
                    <div class="row panel-title">Recent Activity:</div>
                    <div class="row panel-content">
                        Client login 1/2/1982<br>
                        Client added a new note in ticket 4129<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
 