<table><tr><th></th></th><th>Company</th><th>First</th><th>Last</th><th>Street</th><th>City</th><th>State</th><th>Zip</th><th>Phone1</th><th>Phone2</th><th>Email</th><th>Nickname</th></tr>
[for clients]
<tr>
    <td class="check-col"><input type="checkbox" name="selected" value="%id%"></td>
    <td><a href="/clients/summary/%id%">%company%</a></td>
    <td>%first%</td><td>%last%</td>
    <td>%street%</td><td>%city%</td><td>%state%</td><td>%zip%</td>
    <td>%phone1%</td>
    <td>%phone2%</td>
    <td>%email%</td>
    <td>%nickname%</td>
</tr>
[next]
</table>