<div class="top-buttons">
    <a href="/clients/summary/%id%" class="btn btn-go pull-left">Summary</a>
    <a href="/clients/detail/%id%" class="btn btn-go pull-left">Edit</a>
    <a href="/clients/people/%id%" class="btn btn-go pull-left">People</a>
    <a href="/clients/places/%id%" class="btn btn-go pull-left">Places</a>
    <a href="/clients/projects/%id%" class="btn btn-go pull-left">Projects</a>
    <a href="/clients/tickets/%id%" class="btn btn-go pull-left">Tickets</a>
    <a href="/clients/configs/%id%" class="btn btn-go pull-left">Configs</a>
    <a href="/clients/assets/%id%" class="btn btn-go pull-left">Assets</a>
</div>